<!--
-----------------------------------------------------------------------------------------------------
History:
*    Rev 1.0   Jul 05 2013 17:00:00   Gopu
* Initial revision.
-----------------------------------------------------------------------------------------------------
-->

<input type="hidden" id="current_slot" value="">
<div id="diagnostics_content" style='width: 930px;'>
	<div id = "system_alarm">	
		<%= render :partial => "/logreplies/alarms" %>
	</div>
	<div id='alarm_details' >
		<span><B>Details</B></span>
		<div id ="div_cause_remedy" style="width:100%;overflow: auto;" >
			<table width=100% cellpadding='0' cellspacing="0" >
				<tr style="height: 25px;">
					<th class="param_label">Cause</th>
					<th class="param_label">Remedy</th>
				</tr>	
				<tr>
					<td class="left" valign = "top" align ="left" id = "alarm_cause" width="49%"></td>
					<td valign = "top" align ="left" id = "alarm_remedy" width="49%"></td>
				</tr>				
			</table>
		</div>
	</div>
</div>

<script type='text/javascript'>

var auto_refresh_interval;
var request_in_process = false;

$(document).ready(function(){
	add_to_destroy(function(){
		$(document).bind("ready",function(){});
	
		//kills all wrapper events
		$('#select_slot').w_die('change');
		$('.row_sel_style').w_die('click');

		//clear intervals
		clearInterval(auto_refresh_interval);
		
		//clear functions
		delete window.auto_refresh_alarms;

		//clears global variables
		delete window.auto_refresh_interval;
		delete window.request_in_process;
	});
	
	$("#contentcontents").css({'height': '400px', 'min-height':'350px'});
	var track_menu = '<%= params[:system_view] %>';
	if(track_menu != null && track_menu != undefined && track_menu != ""){
		jQuery("#contentareahdr").html('<%= params[:page_heading] %>');
	}
	
	auto_refresh_alarms();
	
	$(document).on("change", "#select_slot",function () {
		$("#current_slot").val($('#select_slot').val());
		$('#alarm_cause').html("");
		$('#alarm_remedy').html("");
		clearInterval(auto_refresh_interval);
		$(".ajax-loader").hide();
		auto_refresh_alarms(); 
	});	
});

function auto_refresh_alarms(){
	request_in_process = false;
	auto_refresh_interval = setInterval(function(){
	var slotnum = $("#current_slot").val();
	var page_no = $("#hd_page").val();
		if (!request_in_process) {
			request_in_process = true;
			$(".ajax-loader").show();
			$.post('/application/alarms_refresh', {
				slot_num: slotnum,
				page: page_no
			}, function(req){
				request_in_process = false;
				$('#system_alarm').html(req.alarms_content);
				$(".ajax-loader").hide();
			}, "json");
		}	
	}, 3000);
}
</script>