<%
site_name = dot = mile_post = atcs = ''
if @site_info != nil
	@site_info.each do |si|
		if(si['Name'] == 'Site Name')
			site_name = si['String']
		elsif (si['Name'] == 'DOT Number')
			dot = si['String']
		elsif (si['Name'] == 'Mile Post')
			mile_post = si['String']
		elsif (si['Name'] == 'ATCS Address')
			atcs = si['String']
		end	
	end
%>
	<table width="100%">
	  <tr>
	    <td>Site Name: </td><td id = "site_name_hdr" ><%=site_name %></td>
		<td>| ATCS Address: </td><td id = "atcs_address_hdr" ><%=atcs %></td>
		<td>| Mile Post: </td><td id = "mile_post_hdr" ><%=mile_post %></td>
		<td>| DOT Number: </td><td id = "dot_number_hdr"><%=dot%></td>
	  </tr>
	</table>
<% end %>