<!-- ####################################################################
# Company: Siemens 
# Author: Gopu
# File: _UCN.html.erb
# Description: This view is used to display the UCN field. 
#################################################################### -->
<%= javascript_include_tag 'toolbar.js', 'ucn.js'%>
<%= stylesheet_link_tag 'v_config.css'%>

<%= GenericHelper.toolbar({'unlock' => 'unlock.png', 'v_save' => 'savemouseover.png', 'reset_vlp' => 'reset_vlp.png' },'unlock')%>
<div class="v_config_wrapper">
	<div class="v_config_generic_wrapper">
		<div class="message_container">&nbsp;<span class="success_message"></span></div>
		<div id="ucn_container">
			<%= render :partial => "set_ucn"%>
		</div>
	</div>
</div>
