
<table id="testnav">
    <tbody>
        <tr>
            <td id="slot1" class="contenttabdisable">
                Empty
            </td>
            <td id="slot2" class="contenttabdisable">
                Empty
            </td>
            <td id="slot3" class="contenttabdisable">
                Empty
            </td>
            <td id="slot4" class="contenttabdisable">
                Empty
            </td>
            <td id="slot5" class="contenttabdisable">
                Empty
            </td>
            <td id="slot6" class="contenttabdisable">
                Empty
            </td>
            <td id="slot7" class="contenttabdisable">
                Empty
            </td>
            <td id="slot8" class="contenttabdisable">
                Empty
            </td>
        </tr>
    </tbody>
</table>
