<style>
.message{
	color:#fff;
	font-family: Arial;
	font-size:13px;
	font-weight: 600;
	padding-top:20px;
}
body{
	background-color: #282828;
}
</style>
<%= javascript_include_tag 'out_of_session.js' %>
<div class="message"><%=@text%></div>
