<div id='contentdata'>
	<div id="ajax_spinner" class="ajax_spinner" style="position: absolute;top:40px;left:300px; display: block;">
	    <%= image_tag("ajax-loader.gif") %>
	</div>
	<div class="logic_view_tool_bar">
		<%if params[:parameter_name].blank? %>
			<div style="float:left;" id="prev_button" onclick="open_prev_page();">&nbsp;</div>
		<%end%>
		<div style="float:left;" id="reload_button" onclick="reload_relay_logic();">&nbsp;</div>
	</div>
	<div class="page_header" id = "page_header"><%=params[:page_header]%></div>
	<div style="height: 30px;">&nbsp;</div>
	<div id = 'logic_view_content'>
		<%= render :partial => "detail_logic_view" %>
	</div>
	<input type="hidden" name = 'hd_history' id = 'hd_history' value = "<%=@prev_history%>"/>
</div>

<script type="text/javascript">

$(document).ready(function(){
	var iframe = $('#iframe', window.parent.document);
	var content_contents = $("#contentcontents", window.parent.document);
	$(content_contents).css({'width': '903px', 'min-height' : '690px'});
	$(iframe).css({'width': '903px', 'min-height' : '690px'});
	$('.ajax_spinner').hide();
	
	////////////////////////////// Auto Refresh ////////////////////////////////////////
	auto_refresh_1 = setInterval(function(){
		var logic_type = document.getElementById("hd_logic_type").value;
		var parent_name = document.getElementById("hd_param_name").value;
		var card_index = document.getElementById("hd_card_index").value;
		var req_id = document.getElementById("hd_req_id").value;
		$('.ajax_spinner').show();
		if (logic_type == "param"){
			$.post("/logic_view/refresh_detail_logic_view", {
				parameter_name	: parent_name,
				card_index		: card_index,
				parameter_type	: '2',
				logic_type		: 'param',
				req_id			: req_id
			}, function(req){
				$('#logic_view_content').html(req.logic_view_content);
				$('.ajax_spinner').hide();
			}, "json");
		}
		else{
			$.post("/logic_view/refresh_detail_logic_view", {
				term_name		: parent_name,
				card_index		: card_index,
				logic_type		: 'term',
				req_id			: req_id
			}, function(req){
				$('#logic_view_content').html(req.logic_view_content);
				$('.ajax_spinner').hide();
			}, "json");
		}
	}, 4000);

	if (document.getElementById("hd_logic_type").value == "param"){
		$(".page_header").html($("#hd_out_put").val());
		document.getElementById("hd_history").value = document.getElementById("hd_history").value;// + $("#hd_out_put").val();
	}
	else{
		$(".page_header").html($(".page_header").html() + "\\" + $("#hd_out_put").val());
		document.getElementById("hd_history").value = document.getElementById("hd_history").value;// + "\\" + $("#hd_out_put").val();
		//$(".page_header").html(document.getElementById("hd_history").value);
	}
	
});
	
</script>

<style type="text/css">
	#logic_table table {
		position: relative;
		top: 50px;
		left: 0px;
	}
	
	#logic_table table td{
    	width: 60px;
		float: left;		
		height: 60px !important;
		background-repeat: no-repeat;
		vertical-align: top;
		padding:0;
		font-size: 11px;		
	}
	
	.link_sub_equation
	{	
		color: #C3CF21 !important;
		font-weight: bold !important;
		cursor: pointer;
	}
	
	#prev_button {
		background-image: url("/images/Previousmouseover.png");
		position: relative;
	    top	:4px;
	    left: 9px;
	    cursor: pointer;
	    width: 76px;
	    height: 19px;
	    background-repeat: no-repeat;
	}
	#reload_button {
		background-image: url("/images/reload.png");
		position: relative;
	    top	:4px;
	    left: 15px;
	    cursor: pointer;
	    width: 80px;
	    height: 19px;
	    background-repeat: no-repeat;
	}
	.page_header {
	    color: #FFFFFF;
	    font-size: 14px;
	    font-weight: bold;
	    text-align: center;
	}
	
	.logic_view_tool_bar {
    background-image: url("/images/u49_normal.png");
    color: #FFFFFF;
    height: 32px;
    margin-left: 6px;
    margin-top: 1px;
    padding-top: 5px;
    background-repeat: no-repeat;
	}
	
	
</style>