<div id='contentdata'>
	<%= render :partial => "logic_details" %>
</div>

<script type="text/javascript">
	var iframe = $('#iframe', window.parent.document)
	var content_contents = $("#contentcontents", window.parent.document)
	
	$(content_contents).css({'width': '685px', 'height': '578px'});
	$(iframe).css({'width': '685px', 'height': '578px'});
	
	$(document).ready(function(response){
		var request_progress = false;
		auto_refresh_1 = setInterval(function(){
			if(!request_progress){
				request_progress = true;
				$.get("/logic_view", function(response){
					$("#contentdata").html(response);
					request_progress = false;
				});
			}			
		}, 3000);
	});
		
</script>