<!--
-----------------------------------------------------------------------------------------------------
History:
*    Rev 1.0   Jul 05 2013 17:00:00   Gopu
* Initial revision.
-----------------------------------------------------------------------------------------------------
-->

<%= javascript_include_tag 'route_table' %>
<div class="floatleft width100 padtop_15" id="atcs_routes">
    <%= render :partial => "routes" %>
</div>

