<style type='text/css'>
.contentcontents{
      overflow: auto !important;
  }
</style>

<div class="serial_outer padleft_15 ">
  <% x=''
     @statuses.each do |status|
       y="Ethernet #{status.stat_name.match(/[0-9]/)[0]}"
       z = status.stat_name.split(/[0-9]/).last
  %>
    <%if x != y %>
      <% (x = y) 
        if "Ethernet 0" ==  x
          title = "Laptop"
        elsif "Ethernet 2" ==  x
          title = "PTC Port"
        else
          title = y
        end %>
      <br/>
      <div class="eth_head"><%= title %>:</div>
      <br/>
    <% end %>
    <div class="paddingleft5 eth_text">
      <div class="floating_left">
        <%= @fields_hash[z.to_sym] %>
      </div>
      <div>
        &nbsp;&nbsp;
        <%=status.stat_text%>
      </div>
      <div class='clear'></div>
    </div>
  <%end%>
</div>