<%= stylesheet_link_tag 'logic_view' %>
<div id="ajax_spinner" class="ajax_spinner" style="position: absolute;top:0px;left:0px;">
    <%= image_tag("ajax-loader.gif") %>
</div>
<div id = "io_view_content">			
	<%= render :partial => "io_view" %>
</div>
<script type='text/javascript'>
	$(document).ready(function(){
		var iframe = $('#iframe', window.parent.document);
		var content_contents = $("#contentcontents", window.parent.document);
		$(iframe).css({
			'height' : '551px',
			'width' : '633px',
			'min-width' : '633px'
		});
		$(content_contents).css({
			'height' : '550px',
			'min-height': '0',
			'width' : '633px',
			'min-width' : '633px'
		});
		//$(".ajax_spinner").show();
		var content_tabs = $('#contenttabs table td', window.parent.document)
		$(content_tabs).each(function(i, ele) {
			$(ele).css('font-size', '14px');
		});
		
		
		var auto_refresh_check_process = true;
		//$('.ajax_spinner', window.parent.document).show();	
		auto_refresh_1 = setInterval(function(){
			if(auto_refresh_check_process == true){
				$('.ajax_spinner').show();
				$.post("/status_monitor/io_view", {					
						}, function(req){
							$('#io_view_content').html(req.io_req_content);
							$('.ajax_spinner').hide();					
						}, "json");
					}
			}, 10000);	
		
	});
</script>
<style type='text/css'>
	.contenttab {
		font-size: 14px !important;
	}
	#parent_window {
		float: left;
		height: 100%;
		width: 100%;
	}
</style>
