<table width="100%">
  <tr>
    <td>Site Name: </td><td id = "site_name_hdr" ><%=@sname %></td>
	<td>| ATCS Address: </td><td id = "atcs_address_hdr" ><%=@atcs_address %></td>
	<td>| Mile Post: </td><td id = "mile_post_hdr" ><%=@m_post %></td>
	<td>| DOT Number: </td><td id = "dot_number_hdr"><%=@dot_num %></td>
  </tr>
</table>