
<!-- ####################################################################
# Company: Siemens 
# Author: Gopu
# File: _get_location.html.rb
# Description: This view is used to call the location setting page.
#################################################################### -->

<%= javascript_include_tag 'location'%>
<%= stylesheet_link_tag 'v_config.css'%>

<div class="content_wrapper">
	<%= GenericHelper.toolbar({ 'v_save' => 'savemouseover.png', 'v_refresh' => 'refresh_mouse_over.png' })%>
	<div class="message_container">&nbsp;<span class="message"></span></div>
	<div id="location_name_container"></div>
	<input type="hidden" class="req_id" value="<%= @set_location_rq.request_id %>">
</div>
