<%=javascript_include_tag 'toolbar.js',"nv_config.js"%>
<%= stylesheet_link_tag 'nv_config.css'%>

<%= GenericHelper.toolbar({'nv_set_all_sear_default' => 'default.png'})%>
<div class="nv_config_message"></div>