<% form_tag("", :id => "recorder_io_assignment_form", :class => "recorder_io_assignment_form") do %>
	    <% index = 1 %>
		<%if @group_parameters%>
		    <% @group_parameters.each_pair do |key, group_parameters| %>
		    	<% group_parameters = @group_parameters[index - 1] %>
			    <div class='connection_information'>
			        <div style="margin-top:10px;">
			        </div>
			        <% group_parameters.each do |group_parameter| %>
				        <div id="module_update" style="padding-left:10px;">
							<div class="serial_outer" id= '<%=get_label(group_parameter[:title])%>'>
								<div class="serialleft contentCSPlabel text_type">
									<%= get_label(group_parameter[:title]) %>
								</div>
								<div class="serialright text_type">
									<%= get_field(group_parameter[:type], group_parameter[:title].first, @selected_type) %>
								</div>
							</div>	
				        </div>
			        <% end %>
			    </div>
		    <% index += 1 %>
		    <% end %>
		<%else%>
		<p style="color:#fff;"> No records found!!!</p>
		<%end%>	
<% end %>