<table class='io_assignment_tabs' cellspacing='0' border='0'>
    <tbody>
        <tr>
        <td id = "td1" page_type='digital_inputs' page_name='digital_inputs' class='leftnav contenttab track_menu_link1 contenttabU enable' width="95" style='background-image: url(../images/Tab_selected.png);'>
                <span style="padding-top:0px;top:0px;">Digital <br>Inputs</span>
            </td>
            <td id = "td2" page_type='analog_inputs' page_name='analog_inputs' class='leftnav contenttab track_menu_link1 contenttabU enable' width="95" style='background-image: url(../images/Tab.png);'>
                <span style="padding-top:0px;top:0px;">Analog Inputs</span>
            </td>
            <td id = "td2" page_type='non_vital_outputs' page_name='non_vital_outputs' class='leftnav contenttab track_menu_link1 contenttabU enable' width="95" style='background-image: url(../images/Tab.png);'>
                <span style="padding-top:0px;top:0px;">Non-Vital Outputs</span>
            </td>
      <td class='spinner'><%= image_tag("/images/ajax-loader.gif", :border => '0') %></td>
    </tr>
    </tbody>
</table>
<style type="text/css">
  .spinner {
      padding-left: 10px;
      display: none;
}
</style>
<script type='text/javascript'>
  $(document).ready(function(){
     var iframe = $('#iframe', window.parent.document)
     var page_name = "digital_inputs";
     var content_tabs = jQuery(".track_menu_link1", window.parent.document)

     $(content_tabs).die('click');
     $(content_tabs).click( function(event){

        event.stopPropagation();

        // Check if there are any unsaved changes on current page
        if(window.parent.myValue){
          var msg1 = "Changes are not saved.";
          var msg2 = "Are you sure you want to navigate away?";
          //var msg3 = "Press OK to continue, or Cancel to stay on the current page.";

          // Check if user whats to continue with page change
          if(confirm(msg1 + "\n\n" + msg2 + "\n\n") == false){
            // Exit function, don't want to loose changes
            return;
          }
          else{
            // Continue to other page, don't care about loosing changes
            window.parent.myValue = false;
          }
        }

        var page_name = $(this).attr('page_name');
        iframe.attr('src', '/gcp_programming/io_assignment?page_type=' + page_name);

       });

  });
</script>