<div class="setup_wizard_overview">Overview</div>
	<% @templates_list.each do |template| %>
		<div class="template_lable setup_wizard_menu_link" page_name="<%= template.page_name %>" >
			<%= template.page_name %>
		</div>
	<% end %>
	<input type="hidden" value="<%= @selected_template.page_name %>" id="first_template_name" />
<script>
	$(document).ready(function(){
		var page_name = $("#first_template_name").val();
		$("#site_content").mask("Loading parameters, please wait...");
        $.get("/gcp_programming/page_parameters?setup_wizard=true&page_type=next&page_name="+page_name, function(response){
            $(".programming_parameters_template").html(response);
        })
	});		
</script>
