<% pso_codes = pso_transmission_modulation_code(channel_parameters, 3) %>
<div class="outer_box" style="background-color: <%= pso_codes['health'] %>">
	<table cellspacing=0 cellpadding=0 class="channel_table">
        <tr>
            <td class="pso_island_status" id="island">
            	TX
            </td>
            <td class='no_border_led'>
            	<%= pso_codes["modulation_code"] %>
            </td>
        </tr>
		<% if params["cal_required"] %>
			<tr>
				<td><%= pso_codes["cal_required"] %></td>
			</tr>
		<% end %>
    </table>
</div>	