<div class="outer_box">
	<% vpi_codes = get_vro_output_mnemonic(channel_parameters, channel_index, "VPI") %>
	
	<table cellspacing=0 cellpadding=0 class="channel_table">
        <tr>
            <td class='no_border_led' id="channel_title" colspan=2>
                <%= channel_name.blank? ? "VPI" : channel_name %>		
            </td>
        </tr>
        <tr>
            <td class='no_border_led' id="channel_status_image">
            	<span style='padding-right:3px;'><%= vpi_codes['lamp_image'] %></span>
                <%= image_tag("dt/box.png") %>
            </td>
            <td class='no_border_led'>
                <%= vpi_codes["status"] %>
            </td>
        </tr>
    </table>
</div>	