<div class="outer_box">
	<% vro_codes = get_vro_output_mnemonic(channel_parameters, channel_index, "VRO") %>
    <table cellspacing=0 cellpadding=0 class="channel_table">
        <tr>
            <td class='no_border_led' id="channel_title" colspan=2>
                <%= channel_name.blank? ? "VRO" : channel_name %>				
            </td>
        </tr>
        <tr>
            <td class='no_border_led' id="channel_status_image">
                <%= image_tag("dt/box.png") %><span style='padding-left:3px;'><%= vro_codes["lamp_image"] %></span>
            </td>
            <td class='no_border_led'>
                <%= vro_codes["status"] %>
            </td>
        </tr>
    </table>
</div>
