<div class='cdl_upload_wrapper'>
	<div style="clear:both; padding-top:2px;">&nbsp;</div>
	<div class='serial_outercover' id='serial_outercover'>
		<form name="form" action="/cdlsitesetup/cdl_upload" method="POST" enctype="multipart/form-data" class="upload_cdl_form">
			<div id='cdl_upload_progress'></div>	
		    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token%>" />
		   	<div class="cdl_file_label" >CDL File:</div>
			<div style="float:left;width:auto;padding-right:3px; "><input type="text" style="width:200px" name="cdlfileToUpload_path" id="cdlfileToUpload_path" class="contentCSPsel" disabled="true"></div>
			<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token%>" />

			<div style="block">
				<label><img src="../images/Browse-mouse-over.png"/></label>
				<input type="file" id="fileToUpload" name="fileToUpload"/>
			</div>

			<div style="clear:both; padding-top:2px;">&nbsp;</div>
			<div class="serialleft contentCSPconfiglabel"></div>
			<div class="serialright">			
		    	<input type="submit" value="" class="submit_button">    	
			</div>
			<div style = "visibility: hidden" id='cdl_upload_message'></div>
		</form>
	</div>
	<div style="clear:both; padding-top:2px;">&nbsp;</div>
</div>
