<%= javascript_include_tag  'create_open_masterdb'%>
<div class="padding_10_width_250">	
	<div>
		<%= text_field "file",  "name", :value => "File name", :onclick => "if(this.value=='File name')this.value='';", :onblur => "if(this.value=='')this.value='File name';" %>
		<span class='loader loader_spin'><%= image_tag("/images/big-spinner.gif") %></span>
		<button class='installation_folder'>Ok</button>		
	</div>
	<% unless @root_entries.blank? %>
		<div class="blackfont_12">Existing Master DBs:</div>
		<div class='selected_file' >
			<%= select :ptcdbfiless, :ptcdbfile, @root_entries.map{|u| File.basename u},{:selected => @root_entries[0]}, :class=>'mydropdown1' , :multiple => true %>			
		</div>
	<% end %>
</div>
