<%= javascript_include_tag  'create_open_masterdb'%>
<div class="padding_10_width_300">	
	<% unless @root_entries.blank? %>
		<div class="blackfont_12">
			<span class='loader loader_spin'><%= image_tag("/images/big-spinner.gif") %></span>
			<label>Select DB </label><%=select_tag("selected_file", options_for_select(@root_entries.map{|x|[File.basename(x),x]}, @root_entries[0]),:class=>"contentCSPselOpen" ,:disabled =>false)%>			
		</div>
		<div class="padding_top_20"></div>
		<div class="padding_left_70">
		    <button class='open_geoptcdb width_80'>Ok</button>
			<button class='cancel width_80'>Cancel</button>
		</div>
	<%else%>
		<div  align="center" class="error_message">There is no GEO PTC master db available, <BR>Please Create new master db</div>
	<% end %>
</div>
