<script>
$(document).ready(function(){
	$('#mcfextractor_log_content').custom_scroll(480);
});
</script>
<% if session[:user_id].to_s == "oceadmin" %>
<div id="mcfextractor_log_content" class='mcfextractor_log_content'>      	
   <% unless session[:log_fil].blank? %>
	  <h3 class="lbl_text">Extraction Log</h3>
      <% @txtfilepath = session[:log_fil].to_s
		 @data = ""
		 begin		     
			File.open(@txtfilepath, 'r+') do |f| 
				f.each do |line|
		            @data = @data + "<br/>" + line
				end
		  	end		
		 rescue => err
			   puts "Exception: #{err}"
		 end
	   %>
	   <div class='mcfextractor_log_content'>
	   		<%= @data  %><br/>
	   </div>	   
   <%else%>
		<div> 
			<h4 class="lbl_text">No log available.</h4>
		</div>
	<%end%>
</div>
<% else %>
	<h2 class="inv_yellow">Information:</h2>
	<div class="display_information">You are not authorized person to this page.</div>
<% end %>
