<div>
  <% unless @rt_sessions.empty? %>
    <table cellspacing=0 class="ui_table">
      <thead>
        <tr>
          <th class="title" width="200">ATCS Address</th>
          <th class="title" width="200">In Session</th>
          <th class="title" width="200">Status</th>
        </tr>
      </thead>
      <tbody>
        <% z=0 
          @rt_sessions.each do |e| %>
            <% z += 1 %>
            <tr>
              <td class="trnwclass"><%= e.atcs_address %></td>
              <td class="trnwclass"><%= rt_sessions_comm_status(e.comm_status) %></td>
              <td class="trnwclass"><%= rt_sessions_status(e.status) %></td>
            <tr>
        <% end %>
        <% if z < 7
          (7 - z).times do |i|%>
          <tr>
            <td class="txtleft">&nbsp;</td>
            <td class="txtleft">&nbsp;</td>
            <td class="txtleft">&nbsp;</td>
            <td class="txtleft">&nbsp;</td>
            <td class="txtleft">&nbsp;</td>
          </tr>
        <% end
        end %>
      </tbody>
    </table>
  <% end %>
</div>
<script>
  $('.ui_table').flexigrid({width: "90%", height:'auto', striped:false})
</script>