	.leftnavtext_opt
	{
	 color:#C3CF21 !important;	
	 font-family: Arial !important;	
	 font-size: 13px !important;	
	 font-style: normal !important;	
	 font-weight:bold !important;	
	 padding-top:5px !important;	
	 padding-bottom:5px !important;	
	 cursor:pointer !important;	
	 width:120px !important;	
	}
	
	.disabled_link
	{
	 color:#C9C9C9 !important;	
	 font-family: Arial !important;	
	 font-size: 13px !important;	
	 font-style: normal !important;	
	 font-weight:bold !important;	
	 padding-top:5px !important;	
	 padding-bottom:5px !important;	
	 cursor:hand !important;	
	 width:80px !important;	
	}
	
	.disable_options {
	 color:#C9C9C9 !important;	
	 font-family: Arial !important;	
	 font-size: 13px !important;	
	 font-style: normal !important;	
	 font-weight:bold !important;	
	 padding-top:5px !important;	
	 padding-bottom:5px !important;	
	 display: block !important;	
	 opacity: 0.5 !important;	
	 filter: alpha(opacity = 50) !important;	
	}
	
	.disable {
	 display: inline-block !important;	
	 opacity: 0.5 !important;	
	 filter: alpha(opacity = 50) !important;	
	}
	
	.question_ans {
	 color		: #C3CF21 !important;	
	 font-family: Arial !important;	
	 font-size: 13px !important;	
	 font-style: normal !important;	
	 font-weight:bold !important;	
	}
	
	.cancel_upload_file_process{
	 color		: #C3CF21 !important;	
	 font-family: Arial !important;	
	 font-size: 13px !important;	
	 font-style: normal !important;	
	 font-weight:bold !important;		
	}
	
	.update_content_software{
	overflow-x	:hidden;
	overflow-y	:hidden;
	height		:325px;	
	}
	
	.resultsft{
	font-size:small;
	padding-left:10px;	
	}
	
	.upload_question{
	padding-left:50px;
	}
	
	.file_select{
	float:left;
	width:auto;
	padding-right:3px;
	}
	
	.download_options{
	color:#F2F2F2;	
	font-weight:bold;
	font-family: Arial !important;	
	font-size: 13px !important;	
	font-style: normal !important;	
	padding-left:2px;
	
	}
	
	.show_consolelog{
	padding_left:10px;
	font:'Calibri';
	font-weight:bold;
	font-size:13px;
	color:#F2F2F2;
	height:300px;
	background-color:#545454;
	overflow-x:hidden;
	overflow-y:scroll;
	border:1px solid #999999;		
	}
