/**
 * author : Jeyavel Natesan
*/
.pad_left_10_width_130{
	padding-left:10px;
	width:130px;
}

.contentCSPsellabel {
    color: #F2F2F2 !important;
    font-family: Arial !important;
    font-size: 13px !important;
	width: 130px !important;
}

.contentCSPselcombosmall
{
	color				: #FFF;
    background-color	: #444; /* transparent */
    width				: 60px	; 
	height			    :  24px	; 
	border			    :   1px solid #888	; 
	font-size			:  12px
}

.contentCSPselcombomedium
{
	color				: #FFF;
	background-color	: #444; /* transparent */
	width				: 130px	; 
	height			    :  24px	; 
	border			    :   1px solid #888	; 
	font-size			:  12px
}

.contentCSPselcomboinstallationname
{
	color				: #FFF;
	background-color	: #444; /* transparent */
	width				: 230px	; 
	height			    :  24px	; 
	border			    :   1px solid #888	; 
	font-size			:  12px
}

.contentCSPselcombodevicetype
{
	color				: #FFF;
	background-color	: #444; /* transparent */
	width				: 190px	; 
	height			    :  24px	; 
	border			    :   1px solid #888	; 
	font-size			:  12px
}
	
.contentCSPselsmall{
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #444444;
    border-bottom-color: #888888;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-left-color-ltr-source: physical;
    border-left-color-rtl-source: physical;
    border-left-color-value: #888888;
    border-left-style-ltr-source: physical;
    border-left-style-rtl-source: physical;
    border-left-style-value: solid;
    border-left-width-ltr-source: physical;
    border-left-width-rtl-source: physical;
    border-left-width-value: 1px;
    border-right-color-ltr-source: physical;
    border-right-color-rtl-source: physical;
    border-right-color-value: #888888;
    border-right-style-ltr-source: physical;
    border-right-style-rtl-source: physical;
    border-right-style-value: solid;
    border-right-width-ltr-source: physical;
    border-right-width-rtl-source: physical;
    border-right-width-value: 1px;
    border-top-color: #888888;
    border-top-style: solid;
    border-top-width: 1px;
    color: #FFFFFF;
    font-size: 12px;
    height: 20px;
    width: 50px;
}

.contentCSPselmedium{
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #444444;
    border-bottom-color: #888888;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-left-color-ltr-source: physical;
    border-left-color-rtl-source: physical;
    border-left-color-value: #888888;
    border-left-style-ltr-source: physical;
    border-left-style-rtl-source: physical;
    border-left-style-value: solid;
    border-left-width-ltr-source: physical;
    border-left-width-rtl-source: physical;
    border-left-width-value: 1px;
    border-right-color-ltr-source: physical;
    border-right-color-rtl-source: physical;
    border-right-color-value: #888888;
    border-right-style-ltr-source: physical;
    border-right-style-rtl-source: physical;
    border-right-style-value: solid;
    border-right-width-ltr-source: physical;
    border-right-width-rtl-source: physical;
    border-right-width-value: 1px;
    border-top-color: #888888;
    border-top-style: solid;
    border-top-width: 1px;
    color: #FFFFFF;
    font-size: 12px;
    height: 24px;
    width: 60px;
}

.displayborder{
	border:solid;
	border-color:#C3CF21;
	border-width:1px;
	width:830px;
}

.deviceeditor_logicstates{
	border:solid;
	border-color:#C3CF21;
	border-width:1px;
	width:830px;
	border-bottom:none;
	border-left:none;
	border-right:none;
}