  .screen_message{
    color: green;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
  }

  .screen_error{
    color: red;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
  }

  .serial_outer {
      width: 100% !important;
      font-size: 12px;
  }
  
  .disabled_field{
  	cursor: default !important;
    opacity: 0.4;
  }
