/******************* top nav *******************/

/******************* left nav *******************/
#leftnavbkgd{
    background-image:url( '/images/leftnav/SubNavBKND.png');
    background-repeat: no-repeat;
    height:30px;
    width:220px; 
}

/******************* diagnostics message indicator *******************/
#diag_msg_indicator{
    color:#F2F2F2;
    font-family: Arial;
    font-size: 18px;
    font-style: normal;
    font-weight: bold;
    background-image: url("/images/diag_msg_indicator.png");
    padding: 2px 10px;
    background-repeat:no-repeat;
}

/******************* content *******************/
.content {
    vertical-align: top;
}
.content_title{
    height: 30px;
}
.content_title p{
    padding-bottom: 10px;
    padding-left: 6px;
    font-family: Arial;
    font-size: 20px /* dzobel Spec = 28px */;
    color: #CFD638;
    font-weight: 100; /* dzobel Per Steven, "normal" looks too bold */
    margin: 0px;
    float:left
}
.ajax-loader{
    height: 30px;
    float: left;
    margin: 0px 5px;
    position: relative;
    top: -5px;
}
.contentcontents_parent{
    display: inline-block;
}
.contentcontents {
    border-style: solid;
    border-color: #809818;
    border-width: 2px;
    min-height: 485px;
    min-width: 910px;
    width: auto;
    height: auto;
}
.contenttabs {
    height: 29px;
    max-height: 29px;
    cursor: hand;
    cursor: pointer;
}

.contenttabs span{
    font-family: Arial;
    font-size: 12px;
    font-style: normal;
    font-weight: bold;
    text-decoration: none;
    position: relative;
    top: 0px;
    padding: 0px;
    margin: 0px;
}

.tab_u{
    background-image: url('/images/Tab.png'); 
    height: 32px;
    width:95px;
}

.tab_s{
    background-image: url('/images/Tab_selected.png'); 
    height: 32px;
    width:95px;
}

.tab_h{
    background-image: url('/images/Tab_selected.png'); 
    height: 32px;
    width:95px;
}
.contenttab {
    background-repeat: no-repeat;
    text-align: center;
    margin-top: 12px;
    height: 29px; /* Do this because tab images are different heights */
    font-family: Arial;
    font-size: 12px; /* dzobel: Per Steven, specs value of 12px is too small */
    font-weight: bold;
    position: relative; /* Do this because IE shows a gap under tabs */
    top: 2px;
    left:-2px;
}
/******************* tool bar *******************/
.toolbar_wrapper {
    color: #ffffff;
    height: 25px;
    margin: 1px 6px;
    padding: 5px 0px;
    background-image: url('/images/ActionButtonsBKND3.png');
    background-repeat: no-repeat;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    width: auto;
}
.toolbar_button{
    cursor: pointer;
    float: left;
    font-family: Arial;
    font-size: 11px;
    font-weight: bold;
    margin: 4px 2px 0px 0px;
    padding-left: 7px;
}

.toolbar_button_text img{
    position: relative;
    top: -2px;
}

.toolbar_button_text span{
    position: relative;
    left: -65px;
    font-size: 12px;
    top: -8px;
}

/******************* generic *******************/
*{
    padding: 0;
    margin: 0;
    font-family: Arial;
}
.clear{
    clear:both;
}
.hand {
    cursor: hand;
    cursor: pointer;
}
img{
    border-style:none;
}


.disabled,
.locked,
.readonly {
    display: inline-block;
    opacity: 0.5;
    filter: alpha(opacity = 50);
}
.locked_icon{
    background-image: url('/images/green-lock.png');
    background-repeat: no-repeat;
    float:left;
    height:15px;
    position: relative;
    top: 5px;left: 5px;
    width:15px;
}
/******************* generic messages colors *******************/
.success_message{
    color:#339900;
    font-weight: 700;
    font-family: Arial;
    font-size: 14px;
}
.error_message{
    color:#E7252B;
    font-weight: 700;
    font-family: Arial;
    font-size: 14px;
}
.warning_message{
    color: #FFF380;
    font-weight: 700;
    font-family: Arial;
    font-size: 14px;
}
/******************* generic background colors *******************/
.background_color{
    background-color: #282828 !important;
}
.secondary_background_color{
    background-color: #424242;
    border: 1px solid #787878;
}
/******************* generic input styles *******************/
.input_style{
    color: #FFF;
    background-color: #444;
    border: 1px solid #888;
    box-sizing: border-box;
    height: 25px;
    margin: 0px;
    padding: 0px;
    width: 200px;
}

.lbl_text{
	color: #F2F2F2;
    float: left;
    font-family: Arial;
    font-size: 13px;
    font-style: normal;
    font-weight: normal;
    height: 20px;
}


.lbl_text_2{
    color: #F2F2F2;
    font-family: Arial;
    font-size: 13px;
    font-style: normal;
    font-weight: normal;
    height: 20px;
    padding-left:20px;
}

/******************* generic table style *******************/
.even_row{
    border-collapse: collapse;
    border: 1px solid #787878;
    color: #fff;
}
.odd_row{
    border-collapse: collapse;
    border: 1px solid #444;
    color: #fff;
}

.track_menu_link{
	height: 34px !important;
}

.track_menu_link span{
	font-family: Arial;
    font-size: 14px;
    font-style: normal;
    font-weight: bold;
    text-decoration: none;
	position: relative;
	top: 5px;
}


/*
 * for inside the iframe
 * 	; scrollbar-face-color			: #88F
 ; scrollbar-arrow-colo			: #FFF
 ; scrollbar-track-color			: #DFF
 ; scrollbar-shadow-color		:
 ; scrollbar-highlight-color		:
 ; scrollbar-3dlight-color		:
 ; scrollbar-darkshadow-Color	:
 
 */
.loginbg
	{
	background-repeat	: no-repeat
	;width: 920px
        ;height: 300px
        ;/*background-image: url( "../images/login.png")*/
	}
.inputbox{width:200px; height:15px;}
.headertitle{color:#FFFFFF; font-weight: bold; font-family: verdana; font-size: 12px;}
 .dt_menubox{
	margin:15px;
}

.contenttabdisable {
    background-image: url(/images/dt/tab_gray.png);
    float: left;
    vertical-align: top;
    font-family: Arial;
    font-size: 12px;
    height: 29px;
    margin: 0px 5px 10px 0px;
    background-repeat: no-repeat;
    text-align: center;
    text-decoration: none;
    width: 95px;
    font-weight: bold;
    color: #272626;
    cursor: pointer;
    
}

.contenttabon {
    background-image: url(/images/dt/tab_green.png);
    background-repeat: no-repeat;
    float: left;
    vertical-align: top;
    font-family: Arial;
    font-size: 12px;
    height: 29px;
    margin: 0px 5px 10px 0px;
    text-align: center;
    text-decoration: none;
    width: 95px;
    font-weight: bold;
    color: #272626;
    cursor: pointer;
   
}

.contenttabonhover {
    background-image: url(/images/dt/tab_green_selected.png);
    background-repeat: no-repeat;
    color: #272626;
    float: left;
    font-family: arial;
    font-size: 12px;
    height: 29px;
    margin: 0px 5px 10px 0px;
    text-align: center;
    text-decoration: none;
    width: 95px;
    font-weight: bold;
    cursor: pointer;
  
}




.contenttaboff {
    background-image: url(/images/dtmodule/tab_red.png);
    background-repeat: no-repeat;
    float: left;
    vertical-align: top;
    font-family: Arial;
    font-size: 12px;
    height: 29px;
    margin: 0px 5px 10px 0px;
    text-align: center;
    width: 95px;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
   
}


.contenttaboff a{
text-decoration:none;
color:#fff;
}

.contenttabon a{
text-decoration:none;
color:#fff;
}
.contenttabOff a:hover{
	background:#ffffff;
	color: #000;
}

.contentCSPsel
	{
		color				: #FFF;
	  	background-color	: #444; /* transparent */
	  	width				: 187px	; 
		height			:  24px	; 
		border			:   1px solid #888	; 
		font-size			:  12px
	}

	
.contentCSPsel_textarea
	{   
	    resize              : none;
		color				: #FFF;
	  	background-color	: #444; /* transparent */
	  	width				: 190px	; 
		height			    :  50px	; 
		border			    :   1px solid #888	; 
		font-size			:  12px;
	}
.white_header{
	color: #fff;
	margin-right:8px;
}

#select_dt_atcs{
	margin-bottom:15px;
	font-size:14px;
}


.ajax_spinner{
	width:170px; position: absolute; padding:0 0 0 5px; display:none;
	
}

.ajax_spinner span{
	color:#fff;position:absolute;top:8px;padding:0 0 0 7px;    
    text-transform: capitalize;    
}


.ajax_spinner_timers{
	width:170px; position: absolute; padding:0 0 0 155px; display:none;
	
}

.ajax_spinner_timers span{
	color:#fff;position:absolute;top:8px;padding:0 0 0 7px;    
    text-transform: capitalize;    
}
.contentCSPselusername
	{
		color				: #FFF;
	    background-color	: #444; /* transparent */
	    width				: 97px	; 
		height			    :  24px	; 
		border			    :   1px solid #888	; 
		font-size			:  12px;
		
	}

.floatright {
    float: right;
    width: 3%;
}

.indicator {
    color:#F2F2F2;
    font-family: Arial;
    font-size: 18px;
    font-style: normal;
    font-weight: bold;
    padding: 2px 10px;
    background-repeat:no-repeat;
    width:20px;
    height:20px;
}

.loginbtn
	{
   	background-repeat: no-repeat;
	text-align: left;
    width: 68px;
	height: 30px;
}

.text_font{
	font-family: Arial !important;
    font-size: 13px !important;
    font-style: normal;
    font-weight: normal;
}

.text_font_18{
	font-family: Arial !important;
    font-size: 18px !important;
    font-style: normal;
    font-weight: normal;
}


.text_white{
	color: #F2F2F2 !important;
}

.text_white_font_12{
	color: #FFFFFF !important;
	font-family: Arial !important;
    font-size: 12px !important;
    font-style: normal;
    font-weight: normal;
}

.text_yellow{
	color: #CFD638 !important;
}

.geo_time_class{
    height: 35px;
	padding-top: 10px; 
	padding-left: 10px;
}

.warning_message_small{
    color: #FFF380;
 	font-family: Arial !important;
    font-size: 13px !important;
    font-style: normal;
    font-weight: normal;
}