.serialleft{
	padding-left: 40px; 
	width: 100px; 
	float: left; 
	padding-right: 0px;
}

.content_wrapper_ladder {
    clear: both !important;
    padding-top: 10px !important;
}

.nvladderlogic_checkbox{
	width:auto;
	color:#FFFFFF;
	padding-left:140px;
	font-family: Arial;
    font-size: 14px;
    white-space: nowrap;
}

.padding_left_140{
	padding-left:140px;
	height:auto;
}

.padding_right_3{
	float:left;
	width:auto;
	padding-right:3px;
}

.fileupload_width{
	width:200px;
}
.ll_message_container{
	font-family: Arial;
    font-size: 12px;
	padding: 10px;
	height:25px;
}
.ll_success_message{
    color:#339900;
    font-weight: 700;
    font-family: Arial;
    font-size: 14px;
}
.ll_error_message{
    color:#E7252B;
    font-weight: 700;
    font-family: Arial;
    font-size: 14px;
}
.ll_warning_message{
    color: #FFF380;
    font-weight: 700;
    font-family: Arial;
    font-size: 14px;
}
#upload_progress {
	font-family: Arial;
    font-size: 12px;
	padding: 10px;
	color:#fff;
}