.leds_container_wrapper{
	float:left;
	width:50%;
}
.leds_container_wrapper table{
	background-color: #424242;
	width:100%;
}
.leds_container_wrapper table th{
	text-align: left;
}
.leds_container_wrapper table,
.leds_container_wrapper td{
	border-collapse: collapse;
	border: 1px solid #787878;
	color:#fff;
}
.leds_container_wrapper tr{
	height: 30px;
}
.leds_container_wrapper table .even{
	background-color: #515151;
}
.num{
	width:30px;
}
.led {
	width:35px;
}
.leds_container_wrapper td{
	padding: 5px;
}
