body {
	background-color: #FFFFFF;
	height:100px; 
	width:100px;
	font-family: Verdana;
	font-size:10px;
}

body, html, input {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	
}

.info {
	font-style:italic;
	font-size: 0.9em;
	color: #FFFFFF;
}
.pop_outer{width:260px; height:120px; float:left; background:#EDEBED; border:1px #C0C0C0 solid; margin-left:10px;}
.outer_cover{width:240px; height:auto;float:left; margin-top:5px;}
.label_text{width:90px; height:auto; float:left; margin-left:5px;} 
.input_ctrl{width:100px; height:auto; float:left;}
.input_ctrl2{width:100px; height:auto; text-align:right; float:left; margin-left:15px;}
.login{width:90px; height:auto; border:1px #CCCCCC solid !important;}
.inputbox{width:80px; height:auto; border:1px #C0C0C0;}
.inputbox_big{width:90px; height:22px; border:1px #C0C0C0 solid;}
.icon-disk {
	background: url(../images/disk_save.png) no-repeat; background-position:left center; text-align:right; height:30px;
}

.validateTips{ font-size:10px; width:260px; height:20px; margin-bottom:10px;}