.new_log_filter h3{
	margin: 2px 0;
}

#1_row > .row_delete{
	cursor: pointer;
}

.set_filter_form{
	color:#000;
	line-height: 30px;
	padding:10px;
	width: 700px;
}

.set_filter_form label{
	font-size: 13px;
}

#filter_text_field{
	height: 19px !important;
	width: 150px;
	color: #FFF;
}

.filter_combo{
	height: 25px;
	width: 150px;
	color: #FFF;
}

#log_filter_submit{
	color: #000 !important;
	font-size: 13px;
	float:right;
}

.filter_table td{
	text-align: center !important;
}

.set_filter_form  th span{
	color: red;
	font-family: arial;
	padding-left: 2px;
}