/*body {
	background-color: #EDEBED;
}

body, html, input {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	color: #333333;
}

.info {
	font-style:italic;
	font-size: 0.9em;
	color: #FFFFFF;
}*/

.mcf{width:100%; height:auto; float:left; border:0px #000000 solid;}
.mcftree{width:30%; height: 520px; float:left; border:0px #000000 solid; overflow:scroll;}
.mcfcontent{width:66%; height:520px; float:right; border:0px #000000 solid; -ms-overflow-y: hidden; padding-left:5px;
 border-left:1px #CCCCCC solid; overflow-y: scroll;
overflow-x: hidden; overflow:scroll;}

.config_panel2{width:690px; height:25px; float:left;}
.config_panel_left2{width:150px; height:25px; float:left; font-size:12px;}
.config_panel_rightt{width:540px; height:25px; float:left;}
.config_panel2_right1{width:170px; height:25px; float:left;}
.config_panel2_right2{width:370px; height:25px; float:left;}

.select_controllarge{width: 150px; height:22px;}

.p {text-align: left; width:100%;}
.select_ctrl_config{width:120px;}
.configpanel{ width:600px; height:auto; float:left; }
.config_panel{width:590px; height:25px; float:left;}
.config_panel_left{width:150px; height:25px; float:left; font-size:12px;}
.config_panel_right{width:440px; height:25px; float:left;}
.config_panel_right1{width:410px; height:25px; float:left;}
.config_panel_right2{width:430px; height:25px; float:left;}
.titlebold{font-weight:bold !important; font-weight:bolder;}
.pop_outer{width:260px; height:90px; float:left; background:#EDEBED; border:1px #C0C0C0 solid;}
.outer_cover{width:240px; height:auto;float:left;}
.label_text{width:90px; height:auto; float:left; margin-left:5px;}
.input_ctrl{width:100px; height:auto; float:left;}
.input_ctrl2{width:100px; height:auto; text-align:right; float:left; margin-left:15px;}

.inputbox{width:80px; height:auto; border:1px #C0C0C0;}
.inputbox_big{width:90px; height:22px; border:1px #C0C0C0 solid;}
.inputbox_big2{width:130px; height:22px; border:1px #C0C0C0 solid;}
.icon-disk {
	background: url(../images/disk_save.png) no-repeat; background-position:left center; text-align:right; height:30px;
}
.demo{margin-top:5px; margin-right:20px;}

.title_div{width:700px; background:#CCCCCC; height:22px; float:left; border:1px #CCCCCC solid; font-weight:bold;}
.title_div_tit{width:600px; height:20px; float:left; padding-top:4px; padding-left:5px; font-weight:bold !important;}
.title_body{width:700px; background:#FFFFFF; height:22px; float:left; border:1px #CCCCCC solid;}
.div_outer{width:700px; background:#CCCCCC; height:22px; float:left; }

.ctrl{float:left; width:20px;}
.ctrl2{float:left;}

/* Event Log  */


tr.even td {
		background-color:#FFFFFF;
	}
	tr.odd td {
		background-color:#eeeeee;
	}
.txtleft { text-align:left; font-weight:bold; font-size:10px;}
.txtcenter { text-align:center; font-weight:bold; font-size:10px;}
.eventlog_searchtable { float:left; border-bottom:1px solid #CCCCCC; background-color: #eeeeee;width:100%;height:25px;}
.bordercls { float:left; border:1px solid #CCCCCC; width:100%;}
.eventlog_searchtable a { text-decoration:none; }
.bgbtnimg_first { background: url("/images/control_start_blue.png") left center no-repeat; margin-top:3px; padding-top:2px;  }
.padleft_18 { padding-left:18px;}
.padright_10 { padding-right:10px;}
.bgbtnimg_rewind { background: url("/images/control_rewind_blue.png") left center no-repeat; margin-top:3px; padding-top:2px;}
.bgbtnimg_fastfwd { background: url("/images/control_fastforward_blue.png") left center no-repeat; margin-top:3px; padding-top:2px;}
.bgbtnimg_end { background: url("/images/control_end_blue.png") left center no-repeat; margin-top:3px; padding-top:2px; }
.bgbtndownload { background: url("/images/icon-download.png") left center no-repeat; margin-top:3px; padding-top:2px; }
.floatleft { float:left;}
.displayinline {display:inline; }

.width100 { width:100%;}
.width10 { width:10%;}
.padtop_15 { padding-top:15px; }
 /* Event CSS Ends */ 
  * 
  .padleft_15 { padding-left:15px;}
  .padright_25 { padding-right:25px;}
.padleft5 {padding-left: 5px; font-weight:bold; padding-top:10px;}
.marginbot2 {margin-bottom:1px;}
.gatewatnodediv { padding-top:5px; float:left;}

.txtcenter { text-align:center; }

.normalActive { background-color: #999999 }
.trnwclass { height:27px; text-align:center;}
.small{ height:18px; width:45px; }
.large{ height:18px; width:100px; }
.center{ text-align:center;}
.left { text-align:left !important;}
.trnwclass input,select{ height:18px; width:135px; }
.eventlog_searchtable input,select{ height:18px; width:45px; }
#mytable{border-left: 1px #008000 solid; border-right: 1px #008000 solid; border-bottom: 1px #008000 solid; text-align:center;}
#mytable th.title {font-size:11px; height:27px; background: #008000; font-weight:bold; color:#FFFFFF; border: 1px #008000 solid; 
	text-align:center; } 

#mytable tr.alt td {
			background: #eeeeee;
			text-align:center;
			height:27px;
			
		}
#mytable tr td {
			border-bottom: 1px solid #008000;
		}

#mytable tr.over td, tr:hover td {
			background: #cee0ba; height:27px;
			text-align:center;
		}
.txtblckcolor { color:#000000;}
.txtgreycolor { color:#C1C1C1;}
.txtredcolor { color:#FF0000;}
.widthselect select {
 width:125px !important;
}
.widthselect_eth select {
 width:85px !important;
}
.widthselect_siteconfig select {
 width:190px !important;
}
.widthselect_serial select {
 width:140px !important;
}
.inputbox_big_siteconfig {
	width:145px;	
}
.displayinline_width {
	display:inline;
	width:145px;
}
.padleft_12 { padding-left:12px;}
.g_para_smallfont { 
color:#339900;
font-size:15px;}

/* newly added Aug 3*/
#validationerror{color:#FF0000;}
.h1_size{font-size:14px; font-weight:bold; }
.errormesgred h2 { color:#ff0000; font-weight:normal !important;}
.errormesg h1 { color:#FF0000 !important;font-weight:normal !important;}
.cleanbluewarning .cleanblue{ background-color: #acb4c4; }
.cleanbluefade{ position: absolute; background-color: #aaaaaa; }
div.cleanblue{ font-family: Verdana, Geneva, Arial, Helvetica, sans-serif; position: absolute; background-color: #ffffff; width: 300px; font-size: 11px; text-align: left; border: solid 1px #8CAF79; }
div.cleanblue .cleanbluecontainer{ background-color: #ffffff; border-top: solid 14px #8CAF79; padding: 5px; font-weight: bold; }
div.cleanblue .cleanblueclose{ float: right; width: 18px; cursor: default; margin: -19px -12px 0 0; color: #ffffff; font-weight: bold; }
div.cleanblue .cleanbluemessage{ padding: 10px; line-height: 20px; font-size: 11px; color: #333333; }
div.cleanblue .cleanbluebuttons{ text-align: right; padding: 5px 0 5px 0; border: solid 1px #eeeeee; background-color: #f4f4f4; }
div.cleanblue button{ padding: 3px 10px; margin: 0 10px; background-color: #8CAF79; border: solid 1px #f4f4f4; color: #ffffff; font-weight: bold; font-size: 12px; }
div.cleanblue button:hover{ border: solid 1px #d4d4d4; }
.widthselect_empwiu select {
	width:105px !important;
}
 /**/
.largenw{ height:18px; width:80px; }
.largenwselect{width:125px !important; height:22px;}
.errormesg { color: #FF0000; padding-bottom:10px; }

 
 /* Error Label CSS Start */

	label, input.error { display: inline;}
	input.error { border: 1px solid red; }
	label.error {
		background: url('../images/unchecked.gif') no-repeat;
		padding-left: 16px;
		margin-left: .3em;
	}
	label.valid {
		background: url('../images/checked.gif') no-repeat;
		display: block;
		width: 16px;
		height: 16px;
	}
	.width60imp {
		width: 60% !important;
	}
	.width100imp {
		width:100% !important;
	}

 /* Error Label CSS Ends*/ 
 
#xcontent p {
  display:none;
 }
