.topnavsec {
    position: relative;
    top: 0px;
    left: 0px;
}

.topnavbkgd {
    z-order: 1;
    position: relative;
    top: -2px;
    left: 0px
}

.topnavbtn {;
    position: absolute;
    top: 0px;
    left: 0px;
    cursor: pointer; 
}

.topnavimg {;
    z-order: 2;
    position: absolute;
    top: 0px;
    left: 0px
}

.topnavtxt {;
    font-family: Arial;
    font-size: 12px;
    z-order: 3;
    position: absolute;
    text-align: center /* dhz */;
    vertical-align: center /* dhz */;
    top: 0px;
    left: 0px
}

.topnavtxt_u {;
    color: #B7B7B7
}

.topnavtxt_h {;
    color: #C3CF21
}

.topnavtxt_d {;
    color: #C3CF21;
    font-weight: normal /* dzobel Per Steven, spec'ed value of bold is hard to read on some machines */
}

.menu_link_item {
    color:#FFFFFF;
    font-family:Arial;
    font-size:13px;
    text-align:center;
    text-decoration:none;
    border-style: none;
}
.menu_link_item:hover{color:#CFD638}

.disable {
	-moz-opacity: 0.55 !important;
	opacity:0.55 !important;
	display: block !important;
	filter: alpha(opacity=55);
    cursor: default !important;
}

