 /* Provide a vertical scroll bar for each division */
div.vertscroll 
{
	width:930px;
	height:311px;
	overflow-x:hidden;
	overflow-y:auto;
}

h1{
	color:#FFFFFF; /* White */
}

p{
	color:#FFFFFF; /* White */
}