.contentCSPselsmallverbo {
    color: #F2F2F2;
    background-color: #444; /* transparent */
    width: auto;
    height: 22px;
    border: 1px solid #888;
	font-family:Arial;
    font-size: 13px;
}

.downloadCS{
	padding-left:15px;
	padding-top:3px;
}
.reportsCS{
	font-size:13px;
	color:#F2F2F2;
	font-family:Arial;
	padding-left: 15px;
	padding-top:2px;
	font-weight:bold;
}

.reportcontentCS{
	color:#F2F2F2; 
	display:block;
	padding-left:20px;
	padding-top:10px;
}

.reportcontenttextCS{
	color:#F2F2F2; 
	font-size:13px;
	font-family:Arial;
}

.reportspinnerCS{
	display:none;
	color:#F2F2F2;
}

.paddingtop_10{
	padding-top:10px;
}

.paddingtop_4{
	padding-top:4px;
}

/* Progress Bar Settings */
#progressbar
{
  width:300px;
  padding:1px;
  background-color:DimGrey;
  border:1px solid black;
  height:20px;
  float:left;
}
#indicator
{
  width:0px;
  /*background-image:url("/images/progbar.png");*/
  background-color: YellowGreen;
  height:20px;
  margin:0;
}

.report_status_msg
{
color: #F2F2F2; 
font-family: Arial; 
font-size:13px;
font-weight: 600; 
float:left;
}
