.text_image a{
    background-image: url("/images/all_screen_images.png");
    display: block;
    height: 25px;
    margin: -3px;
    overflow: hidden;
    width: 60px;
    text-indent:-9999px;
}

.led_image{
    background-color: transparent; 
    background:none;
    border:none;
    background-image: url("/images/all_screen_images.png");
    height: 25px;
    margin: -5px;
    overflow: hidden;
    width: 28px;
    text-indent:-9999px;
}

.view_icon a{background-position: -19px 0; width:64px;}
.apply_icon a{background-position: -149px 0; width:68px;}
.first_icon a{background-position: -259px 0;}

.summary_log_icon a{background-position: -19px -22px; width:114px;}
.accept_icon a{background-position: -150px -22px; width:73px;}
.top_icon a{background-position: -259px -22px; width:57px;}

.default_icon a{background-position: -2px -601px; width:76px;}
.refresh_icon a{background-position: -429px -601px; width:87px;}
.unlock_icon a{background-position: 160px -601px; width:78px;}
.discard_icon a{background-position: -260px -601px; width:75px;}

.status_log_icon a{background-position: -19px -44px; width:96px;}
.history_icon a{background-position: -150px -44px; width:75px;}
.next_icon a{background-position: -259px -44px; width:53px;}

.last_icon a{background-position: -259px -66px;}
.prev_icon a{background-position: -19px -154px; width:80px;}
.download_icon a{background-position: -149px -220px; width:90px;}
.update_icon a{background-position: -149px -262px; width:73px;}

.save_cat_icon a{background-position: -19px -110px;}
.save_icon a{background-position: -20px -110px;}
.create_icon a{background-position: -19px -308px; width:90px;}
.yellow_led {background-position: -124px -283px;}
.red_led {background-position: -148px -285px;}
.green_led {background-position: -124px -307px;}
.cancel_icon a{background-position: -18px -264px; width:73px;}
.back_icon a{ width:58px; height:19px; margin-top:1px; background-image: url("/images/back_arte.png");}
.start_icon a{ width:55px; height:19px; margin-top:1px; background-image: url("/images/start_mouse_over.png");}
.stop_icon a{ width:70px; height:19px; margin-top:1px; background-image: url("/images/stop-mouse-over.png");}
.clear_icon a{ width:62px; height:19px; margin-top:1px; background-image: url("/images/clear.png");}
.get_icon a{ width:52px; height:19px; margin-top:1px; background-image: url("/images/get_button.png");}
.addstate_icon a{ width:90px; height:19px; margin-top:1px; background-image: url("/images/Add-mouse-over.png");}
.notes_icon a{background-position: -148px -264px; width:73px;}
.all_icon a{ width:87px; height:19px; margin-top:1px; background-image: url("/images/all_events.png");}
.reset_icon a{ width:76px; height:19px; margin-top:1px; background-image: url("/images/sear_reset.png");}

.button_container {
		background-image: url('/images/Wizard_Previous_u58_normal.png');
		background-repeat:no-repeat;
		width:107px;
		height:29px;
		vertical-align:middle;
		float:left;
		cursor: pointer;
}	
#left_arrow{
	background-image: url('/images/u64_normal.png');
	background-repeat:no-repeat;		
	width:24px;
	height:24px;
	margin:3px;
	margin-bottom:5px;
	float:left;		
}
#right_arrow{
	background-image: url('/images/u68_normal.png');
	background-repeat:no-repeat;		
	width:24px;
	height:24px;
	margin:3px;
	margin-bottom:5px;
	float:left;		
}
#cancel_button{
	background-image: url('/images/u413_normal.png');
	background-repeat:no-repeat;		
	width:16px;
	height:16px;
	margin:5px;
	margin-top:7px;
	float:left;		
}	

.previous_label_style{
	font-family:Arial;
	font-size:13px;
	font-weight:bold;
	font-style:normal;
	text-decoration:none;
	color:#F2F2F2;
}

.next_label_style{
	font-family:Arial;
	font-size:13px;
	font-weight:bold;
	font-style:normal;
	text-decoration:none;
	color:#F2F2F2;
	padding-right:20px;
}
.cancel_label_style{
	font-family:Arial;
	font-size:13px;
	font-weight:bold;
	font-style:normal;
	text-decoration:none;
	color:#F2F2F2;
}	
.label_cover{
	float:left;
	height:24px;
	padding:5px;
}