
body{background-color:#282828;margin: 0; border:0;}

p
	{
  font-family		: Arial
	; font-size			: 12px
	; color				: #FFFFFF
	; margin			: 12px
	}

input, select {
    color: #666666;
    font-size: 12px;
}

iframe {
overflow-x: hidden;
overflow-y: hidden;
}

       .p1{
            font-family		: Arial
            ; font-size		: 12px
            ; color		: #FFFFFF
            ; margin		: 12px
            ; line-height       : 10px;
        }

       .p2{
            font-family		: Arial
            ; font-size		: 12px
            ; color		: #FFFFFF
            ; margin		: 12px
            ; line-height       : normal;
        }

        .p3{
            font-family		: Arial
            ; font-size		: 12px
            ; color		: #FFFFFF
            ; margin		: 12px
            ; line-height       : normal
            ; text-align        : center;
        }


 label{
    font-family	: Arial; font-size: 12px; font-weight: normal; color: #FFFFFF;
}

input, select {
    color: #666666;
    font-size: 11px;
}

.IEbody
{
/* We don't do this for all browsers because it interferes with border-radius */
 background-color	: #333333
;/*background-image	: url( "../images/contentbkgd.png" )*/
}

.contentactionbar
{
	background-repeat	: no-repeat;
	cursor			: pointer;
}

.contentactionbutton
	{
	 margin			: 0 7px 0 17px		/* dzobel 11/3/10 We use margin, because padding is evidently ignored by IE */
	}

.contentactionbuttonlabel
	{
	 font-family		: Arial
	; font-size		: 11px
	; font-weight		: bold
	; margin			: 0 2px 0 0			/* dzobel 11/3/10 We use margin, because padding is evidently ignored by IE */
	}

.contentactionbuttonlabelI
	{
	 color				: #CCCCCC;
	}

.contentactionbuttonlabelA
	{
	 color				: #CFD638;
	}

.contentCSPlabel
	{
	 height			: 35px
	; font-family                   : Arial
	; font-size			: 12px
	; color				: #FFF
	; white-space                   : nowrap
        ; text-align                    : center;
	}

.contentCSPsel, .inputbox_big2
	{
		color				: #FFF;
	  background-color	: #444; /* transparent */
	  width				: 117px	;
		height			:  24px	;
		border			:   1px solid #888;
		font-size		:  12px
	}


.contentsiteinfolabel
	{
		height			:  35px	;
		font-family		: Arial	;
		font-size		:  12px	;
		color			: #FFF;
		white-space		: nowrap
	}

.contentsiteinfosel
	{
		color				: #FFF;
	  background-color	: #444; /* transparent */
	  width				: 117px	;
		height			:  24px	;
		border			:   1px solid #888;
		font-size		:  12px
	}
.g_para_smallfont
{
    font-family :Arial;
    font-size: 12px;
    color: #FFFFFF;
    margin: 12px;
}
.cleanbluewarning .cleanblue{ background-color: #5e5e5e; }
.cleanbluefade{ position: absolute; background-color: #aaaaaa; }
div.cleanblue{ font-family: Verdana, Geneva, Arial, Helvetica, sans-serif; position: absolute; background-color: #ffffff; width: 300px; font-size: 11px; text-align: left; border: solid 1px #5e5e5e; }
div.cleanblue .cleanbluecontainer{ background-color: #ffffff; border-top: solid 14px #5e5e5e; padding: 5px; font-weight: bold; }
div.cleanblue .cleanblueclose{ float: right; width: 18px; cursor: default; margin: -19px -12px 0 0; color: #ffffff; font-weight: bold; }
div.cleanblue .cleanbluemessage{ padding: 10px; line-height: 20px; font-size: 11px; color: #333333; }
div.cleanblue .cleanbluebuttons{ text-align: right; padding: 5px 0 5px 0; border: solid 1px #eeeeee; background-color: #f4f4f4; }
div.cleanblue button{ padding: 3px 10px; margin: 0 10px; background-color: #5e5e5e; border: solid 1px #f4f4f4; color: #ffffff; font-weight: bold; font-size: 12px; }
div.cleanblue button:hover{ border: solid 1px #d4d4d4; }

.errormesg {
    color: #55AB27;
    padding: 10px 0 0 10px;
    font-family: Arial;
    font-size: 12px;
}
.errormesg h1 {
    color: 	#55AB27 !important;
    font-weight: normal !important;
		font-size: 12px;
		font-family: Arial;
}

input.save {
  border:1px solid red;
}

/*new css*/
.padleft_15 { padding-left:15px;}
.padright_25 { padding-right:25px;}
.padleft5 {padding-left: 5px; font-weight:bold; padding-top:10px;}
.marginbot2 {margin-bottom:1px;}
.txtcenter { text-align:center; }

.normalActive { background-color: #999999 }
.trnwclass { height:27px; text-align:center;}
.trnwclass1 { height:27px; text-align:center;width: 190px;}
.small{ height:18px; width:45px; }
.large{ height: 20px; margin-top: 4px; width: 100px; }
.center{ text-align:center;}
.left { text-align:left !important;}
.trnwclass input,select{ height:18px; width:135px; }
.eventlog_searchtable input,select{ height:18px; width:50px;background-color: #FFFFFF; border: 1px solid #020202;}

#mytable {border-left: 1px #5e5e5e solid; border-right: 1px #5e5e5e solid; border-bottom: 1px #5e5e5e solid;padding-left: 1px; }
#mytable tr.even td {background-color:#FFFFFF;}
#mytable tr.odd td {background-color:#eeeeee;}
#mytable th.title {font-size:11px;height:27px;background-color: #5e5e5e;font-weight:bold;	color:#FFFFFF;border:1px #5e5e5e solid;}

#mytable tr.alt td {background: #eeeeee;height:27px;}
#mytable tr td {background-color: #949494;border-bottom: 1px solid #000000;}

/*#mytable tr.over td, tr:hover td {background: #5e5e5e; height:27px;}*/
#mytable p{width:75px;}

#moduleio-table {width:100%; padding:0; margin:0 0 20px 0; text-align: center; font-family: "Lucida Sans Unicode","Lucida Grande",Sans-Serif; font-size: 12px;  border-collapse: collapse; }
#moduleio-table th{color: #fff; text-align: center;}
#moduleio-table td{height: 233px;}
#moduleio-table p{width:80px; text-align: center;}

.txtblckcolor { color:#000000;}
.txtgreycolor { color:#C1C1C1;}
.txtredcolor { color:#FF0000;}
.txtgreencolor { color:green;}

.padtop_15 {
    padding-top: 15px;
}
.width100 {
    width: 100%;
}
.floatleft {
    float: left;
}

/* styles for cartridge status*/
#crtstatus { text-align:center;	padding-left: 7px; }
#crtstatus tr.even td {background-color:#FFFFFF;}
#crtstatus tr.odd td {background-color:#eeeeee;}
#crtstatus th.title {font-size:11px;	height:27px;background-color: #5e5e5e;font-weight:bold;	color:#FFFFFF;border: 1px #5e5e5e solid;text-align:center;}

#crtstatus tr.alt td {background: #eeeeee;text-align:center;height:27px;}
#crtstatus tr td {background-color: #FFFFFF;border-bottom: 1px solid #000000;}

/*#crtstatus tr.over td, tr:hover td {background: #5e5e5e; height:27px;text-align:center;}*/

/* end */

.wams{color: #FFFFFF;font-size:12px;}

.contentCSPtitle {
	; height			:  20px
	; font-family                   : Arial
	; font-size			:  12px
	; color				: #FFF
	; white-space                   : nowrap
}
.eth_title {
    height:    20px;
    font-family: Arial;
    font-size:    12px;
    color:    #FFF;
    white-space: nowrap;
    font-weight: bold;
}
.config_port_rowlong {
	float: left;
	height: 30px;
        padding-left: 3px;
	padding-top: 10px;
	width: 460px;
}
.config_control_radio {
    float: left;
    height: 30px;
     width: 152px;
}
.ctrl {
    float: left;
    width: 20px;
}
.inputContainer {
    float: left;
    position: relative;
}
.ctrl2 {
    float: left;
    color: #FFFFFF;
}
.config_port_row_large_tit {
float:left;
font-weight:bold;
height:22px;
width:360px;
color:#FFFFFF;
padding-left: 11px;
}
.config_control_emps_tit {
	color: #FFFFFF;
	float: left;
	height: 22px;
	padding-left: 11px;
	padding-top: 5px;
	width: 360px;
}
.width100imp {
    width: 100% !important;
}
.config_port_row_large {
    float: left;
    height: 22px;
    width: 460px;
}
.config_control {
  color: #FFFFFF;
    float: left;
    height: 22px;
    padding-left: 11px;
    width: 140px;
}
.config_control_emps {
    float: left;
    height: 22px;
    width: 245px;
    color: #FFFFFF;
    padding-left: 11px;
}
.config_control_radio_classc {
	float: left;
	height: 30px;
	width: 152px;
	padding-left:5px;
}
.eventlog_searchtable {
    background-color: #949494;
    border-bottom: 1px solid #CCCCCC;
    float: left;
    height: 25px;
    width: 98%;
    padding-left: 5px;
}
.bordercls {
    float: left;
    margin-top: 15px;
    padding-left: 8px;
    width: 100%;
}
.padright_10 {
    padding-right: 10px;
    margin-left:10px;
}
.marginbot2 {
    margin-bottom: 1px;
}
.content_header {
    float: left;
    height: 28px;
    margin-top: 10px;
    padding-left: 10px;
    width: 94%;
}
.content_header_icons {
    float: left;
    height: 30px;
    width: auto;
    color: #FFFFFF;
}
.padleft5 {
    font-weight: bold;
    padding-left: 5px;
    padding-top: 10px;
}
#report_config_top_icons {
    float: right;
    height: 30px;
    padding-right: 2px;
    width: auto;
}
.config_panel {
    float: left;
    height: 25px;
    width: 590px;
}
.config_panel_left {
    float: left;
    font-size: 12px;
    height: 25px;
    width: 150px;
    color: #FFFFFF;
}
.config_panel_right {
    float: left;
    height: 25px;
    /*width: 440px;*/
}


.connection_header {
    float: left;
    height: 28px;
    margin-top: 10px;
    padding-left: 10px;
    width: 94%;
		background-color: #FFFFFF;
}
.connection_header_icons {
    float: left;
    height: 30px;
    width: auto;
    font-family: arial;
}
.connection_main {
	padding-left: 10px;
}
.site_info_time {
    height: 18px;
    width: 45px;
}
.bgbtndownload {
    background: url("/images/icon-download.png") no-repeat scroll left center transparent;
    margin-top: 3px;
    padding-top: 2px;
}
.spacing{
	height: 30px;
}
.tabular-structure {
	width: 100%;
	color:#D7D7D7;
	text-align:left;
	font-weight:normal;	
	border-collapse: collapse;
	text-align:center;
}

.tabular-structure th{
	width:14%;
	color: #809818;

}

.tabular-structure td{
	
}
.sscc-tabular-structure {
	width: 100%;
	color:#D7D7D7;
	text-align:left;
	font-weight:normal;	
	border:1px 0 1px 0;
}

.sscc-tabular-structure th{
	width:14%;
	border:1px 0 1px 0;	
}

.remove-styles{
	background:#333
}

.tabular-structure th a:hover{color:#CFD638;}
.tabular-structure td a{color:#fff; background:#333}
.tabular-structure tr a:hover{color:#CFD638;}
.tabular-structure tbody tr:hover td{background:#CFD638 none repeat scroll 0% 0%; color:#333;}

#simple-table{width:100%; margin:0 0 5px 0; border-bottom: 2px solid #CFD638; font-family: "Lucida Sans Unicode","Lucida Grande",Arial; font-size: 15px;  border-collapse: collapse; color:#D7D7D7;text-align:left;}
#simple-table th{ padding:0 10px 0 10px; font-weight: normal;}
#simple-table tbody{background:#333 none repeat scroll 0% 0%;}
#simple-table td{padding-left: 10px;text-align:left;}
#simple-table th a{color:#CFD638; background:#333;text-decoration:none}
#simple-table th a:hover{color:#CFD638;}
#simple-table td a{color:#fff; background:#333}
#simple-table td a:hover{color:#CFD638;}
#simple-table tbody tr:hover td{background:#CFD638 none repeat scroll 0% 0%; color:#333;}

#content-table{width:100%; margin:0 0 5px 0; border-bottom: 2px solid #CFD638; font-family: "Lucida Sans Unicode","Lucida Grande",Arial; font-size: 15px;  border-collapse: collapse; color:#D7D7D7;text-align:left;}

#content-table th{padding:1px 10px 0px 10px; font-weight: normal; border-bottom:1px solid #fff;}
#content-table tbody{background:#333 none repeat scroll 0% 0%;}
#content-table td{padding-left: 10px;}

#content-table th a{color:#CFD638; background:#333;text-decoration:underline}
#content-table th a:hover{color:#CFD638;}
#content-table td a{color:#fff; background:#333}
#content-table td a:hover{color:#CFD638;}


#new-table{width:100%; margin:0 0 5px 0;font-family: "Lucida Sans Unicode","Lucida Grande",Arial; font-size: 12px;  border-collapse: collapse; }
#new-table th{padding:25px 10px 10px; font-weight: normal; font-size: 13px; color:#CFD638;text-align:left;}
#new-table td{padding-left: 10px;color:#FFFFFF; text-align:left;}
#new-table tbody tr:hover td{background:#CFD638 none repeat scroll 0% 0%; color:#333;}

.sub_header {
    color:#FFFFFF;
    font-family:Arial;
    font-size:14px;
    text-align:left;
    padding-left:10px;
    padding-top:10px;
    background:#333;
    font-weight: normal;

}

.sub_header1 {
    color:#FFFFFF;
    font-family:Arial;
    font-size:14px;
    text-align:left;
    padding-left:10px;
    font-weight: normal;
}

.menu_link_item {
    color:#FFFFFF;
    font-family:Arial;
    font-size:13px;
    padding:2px 0 0 25px;
    text-align:center;
    text-decoration:none;
}

.menu_link_item1 {
    color:#FFFFFF;
    font-family:Arial;
    font-size:13px;
    padding-left:80px;
    text-align:center;
    text-decoration:none;
}

.link_item {
    color:#FFFFFF;
    font-family:Arial;
    font-size:13px;
    text-align:center;
    text-decoration:none;
}
.link_item:hover{color:#CFD638}

.menu_link_item:hover{color:#CFD638}
.menu_link_item1:hover{color:#FFFFFF}
.menu_selected {color:#CFD638;}

.left_content{float:left; width:280px; min-height:400px; border-right: 1px solid #CFD638;}
.right_content{float:left; width:200px; padding:30px;}

.left_content1{float:left; width:245px; min-height:540px; border-right: 1px solid #CFD638;}

.clear{clear:both;}

.align_left:hover {height:18px;text-align:center;}
.text_left_align{
    padding-left: 30px;
    text-align: left;
}
.text_left_align:hover{
    text-align: left;}

.right_content1{float:left; width:350px; padding-left:30px;margin-top: 10px;}

#simple-table_header{width:100%; height:23px; padding:0; margin:10px 0 20px 0; border-bottom: 1px solid #CFD638; font-family: "Lucida Sans Unicode","Lucida Grande",Arial; font-size: 12px;  border-collapse: collapse; }
#simple-table_header th a{color:#CFD638; background:#333;text-decoration:none}

#mytable_body th.leftnav_leftnavbkgd span{width:10px;height:5px;background:url("/images/leftnav/SubNavBKND.png") no-repeat scroll left center transparent;text-align:center; padding: 48px}

#mytable_body th.title {font-size:12px;	height:27px;background-color: #5e5e5e;font-weight:bold;	color:#FFFFFF;border: 1px #5e5e5e solid;}
#mytable_body tr th {color:#FFFFFF;font-size:12px;padding-left: 50px;font-weight:normal;height:30px;font-family:Arial;text-align:left;}
#mytable_body tr th.lft{text-align: left;}

#mytable_body tr td {color:#FFFFFF;font-size:12px;padding-left: 10px;font-weight:normal;font-family:Arial;text-align:center;}
#mytable_body tr th.stact{text-align: left;}
#mytable_body tr td.stact{text-align: left;}
#mytable_body caption{padding-left: 50px;color:#CFD638;font-size:14px;font-family: Arial;}

.update_values {width: 308px; vertical-align: text-bottom;  text-align:left;padding-left: 10px;height:25px;font-family: "Arial"; font-size: 13px;color:#FFFFFF;}

.text_deco {width: 340px; vertical-align: text-bottom;  text-align:left;padding-left: 10px;height:25px;font-family: "Arial"; font-size: 13px;color:#FFFFFF;}

.text_deco:hover {
        background: none repeat scroll 0 0 #CFD638;
        color: #333333;
}
.text_deco a {
        color:green;
}
.text_deco a:visited {color:green;}
.text_deco a:active, a:hover {color:green;}

.align_right_side{float:right; width:420px; height: 0px;color:#FFFFFF; font-family:Arial; font-size:12px;}

.leftpad{padding-left: 50px;}
.leftpad p{float: left; width: 180px; color:#FFFFFF; font-family:Arial; font-size:12px; margin: 0px; padding-left: 40px;}
.leftpad p.class{clear:both;}


.align_left_side{float: left;width: 220px; height: 15px;color:#FFFFFF; font-family:Arial; font-size:12px;}
#statistics-table{width:50%;text-align: center;border:0;font-family: "Lucida Sans Unicode","Lucida Grande",Sans-Serif; font-size: 13px;color:#FFFFFF;}
#statistics-table thead{font-size: 13px;color:#CFD638;font-weight: bold;}

#mytable_body tr.over td, tr:hover td {background: none;}
.align_left_side p{width: 100%;}
.align_left_side img{width: 100%;}
.middle_content{padding: 5px 0px 0px 50px; color:#FFFFFF; font-family:Arial; font-size:12px;}
.clear{clear: both;}
.container{border: 1px #CFD638 solid;}
.padding_alinged input{width:42px; text-align: center;}


#simple-table_bottom{width:100%;padding-top: 20px;border-top: 1px solid #CFD638;font-family: "Lucida Sans Unicode","Lucida Grande",Arial; font-size: 12px;border-collapse: collapse; }
#simple-table_bottom  a{color:#fff; background:#333}

.margin_top_simpletblbtm{margin-top: 20px;}

.pad-to-cetr{padding-left: 100px;}
.fieldset_menu
{
height			:  20px
; font-family		: Arial
; font-size			:  12px
; color				: #FFF
; white-space		: nowrap;
}

#fieldset_table th a{color:#fff; background:#333;text-decoration:underline;font-size: 12px;font-family: Arial;font-weight: normal;}
.padding_alinged input{width:41px; text-align: center;}
.main_content{padding: 5px 10px 10px 5px;  border-bottom: 2px solid #CFD638; text-align: left;}
.main_content p{ color: #FFFFFF; font-family: Arial; font-size: 12px; margin: 2px;}
.main_content .content_left_container{border-right:  2px solid #CFD638;}
.large_content_font{ color:#FFFFFF; font-family:Arial; font-size:14px; font-weight: bold;}
.content_left_container{float: left; width: 33%; text-align: left;}
.content_right_container{float: right; width: 33%; text-align: right;}
.border_left{border-left: 2px solid #CFD638;}

.prog_title {
    height:    20px;
    font-family: Arial;
    font-size:    13px;
    color:    #CFD638;
    white-space: nowrap;
    font-weight: bold;
}

.label_title {
    height:    30px;
    font-family: "Lucida Sans Unicode","Lucida Grande",Sans-Serif;
    font-size: 12px;
    color:    #FFFFFF;
    white-space: nowrap;
    width:100px;
}


#nested-table{width:100%; padding:0; margin:0 0 20px 0;  font-family: "Lucida Sans Unicode","Lucida Grande",Arial; font-size: 12px;  border-collapse: collapse; }
#nested-table tr th{border-bottom: 2px solid #CFD638; padding:15px 20px 10px 0px; font-weight: normal; font-size: 13px;color:#FFFFFF;}
#nested-table tbody{background:#333 none repeat scroll 0% 0%;}
#nested-table td.bordered{border-top: 2px solid #CFD638;}
#nested-table td{border-right: 2px solid #CFD638; color:#FFFFFF; text-align:center;}
#nested-table td div p{text-align: justify}
#nested-table td div p span{text-align: right;}
#nested-table td div img{padding:0px 5px 0px 5px;}

#nested-table h3{text-decoration: underline}

.header_title{font-size: 16px;color:#FFFFFF;text-align:center;border-bottom: 2px solid #CFD638;font-weight: bold;font-family: Arial;margin-left: 5px}
.body_part{border-bottom: 2px solid #CFD638;padding:10px 10px 20px 5px;}

.header_content{border-bottom: 2px solid #CFD638; color: #FFFFFF; font-size: 14px;font-weight: bold; padding: 10px; text-align: center}
.left_container{float: left; width:48%; min-height: 200px;}
.bordered{ border-right: 2px solid #CFD638; border-bottom: 2px solid #CFD638;}
.right_bordered{ border-right: 2px solid #CFD638;}
.bottom_bordered{border-bottom: 2px solid #CFD638;}
.bottom_container{float: left;width:33%; min-height: 25px;}
.right{border-right: 2px solid #CFD638;}
.dtborder {float: left;width:50%; min-height: 25px;}
.dt-right {border-right: 2px solid #CFD638;}

.SystemIO_view{float: left; width:48%; min-height: 275px;}
.track_views{float: left; width:33%; min-height: 270px;}
.track_right_border{border-right: 2px solid #CFD638;}
.track_bottom_border{border-bottom: 2px solid #CFD638;}
.track_left_border{border-left: 2px solid #CFD638;}
.track_top_border{border-top: 2px solid #CFD638;}

div .left_container p{text-align: left; font-weight: bold; padding-left:109px;}

#and-details-table{width:100%; padding:0; margin:0 0 20px 0; text-align: center; font-family: "Lucida Sans Unicode","Lucida Grande",Arial; font-size: 12px;  border-collapse: collapse; }
#and-details-table th{color: #fff}
#and-details-table td{color: #fff}

#fset {border-color:#CFD638;color:#ffffff;margin-left:5px;margin-right:5px;padding-left:10px;font-size:12px;font-family: "Lucida Sans Unicode","Lucida Grande",Arial;}
#legnd {color:#ffffff;padding-left:5px;font-family: "Lucida Sans Unicode","Lucida Grande",Sans-Serif;}

.content_alignment{
    color: #FFFFFF;
    font-family: Arial;
    font-size: 12px;}

.content_alignment h2{color:#00FF00; font-family:Arial; font-size:15px; font-weight: normal; text-align: center; border: 2px solid #FFFFFF;width: 99%; padding-bottom: 5px;padding-top: 5px;}
.content_alignment h3{color:#CFD638; font-family:Arial; font-size:14px; font-weight: normal; text-align: center;border-bottom: 2px solid #CFD638; padding-bottom: 8px; width: 100%}

.content_alignment ul{padding-left: 65px; list-style-type: none;}
.content_alignment ul li{width: 180px;}
.ulist ul.lft {float: left; width:30%; padding-left: 150px;line-height: 20px;list-style-type:none; color: #FFFFFF;font-size: 14px;font-family: Arial;}
.ulist ul.rht {float: right; width:40%; padding-left: 30px;line-height: 20px;list-style-type:none; color: #FFFFFF;font-size: 14px;font-family: Arial;}
.ulist ul.mid {float:left; width:60%; padding-left: 250px;list-style-type: none; color: #FFFFFF;font-size: 14px;font-family: Arial;}

.bg_green_sscc {background: url("/images/green_curved_box.png") no-repeat scroll left center transparent;
    color: #fff;
    margin-bottom: 2px;
    padding: 5px;
	font-size:12px;
	width:16px;
	height:16px;
}

.bg_red_sscc {background: url("/images/red_curved_box.png") no-repeat scroll left center transparent;
    color: #fff;
    margin-bottom: 2px;
    padding: 5px;
	font-size:12px;
	width:16px;
	height:16px;	
}
.bg_green {background: url("/images/green.gif") no-repeat scroll left center transparent;
    color: #000000;
    border-style: none;
    margin-top: 3px;
    padding: 5px;
}
.bg_grey {background: url("/images/grey.gif") no-repeat scroll left center transparent;
    color: #000000;
    border-style: none;
    margin-top: 3px;
    padding: 5px;
}

.bg_red {background: url("/images/red.gif") no-repeat scroll left center transparent;
    color: #000000;
    border-style: none;
    margin-top: 3px;
    padding: 5px;
}

.bg_green_cal {background: 0 100% no-repeat #00FF00; width: 20em;
    color: #000;
    padding: 5px;
}

.bg_grey_cal {background: 0 100% no-repeat #98AFC7; width: 20em;
    color: #000000;
    padding: 5px;
}

.bg_blue_cal {
	background: 0 100% no-repeat #0000FF; width: 20em;
    color: #FFF;
    padding: 5px;
	
}
.header_title{color:#FFFFFF;text-align:center;border-bottom: 2px solid #CFD638;font-weight: normal;font-family: Arial;margin:10px -8px 10px -8px;}

.body_part{border-bottom: 2px solid #CFD638;}
.body_part p{font-family: Arial; font-size: 14px;}

.body_part p:hover{background:#CFD638 none repeat scroll 0% 0%; color:#333;  border-collapse: collapse; }

.menu_list {font-size: 16px;color:#FFFFFF; padding:1px 1px 1px 70px;word-spacing:100px;border-bottom: 2px solid #CFD638;font-family: Arial;margin:10px -8px 10px -8px;}
.calib_body_part{border-bottom: 2px solid #CFD638; padding:1px 1px 1px 70px;font-family: Arial; font-size: 14px;}

.padtop15_padleft20{padding-top: 20px;padding-left: 20px;}
.align_text{padding-left: 60px;margin-top:-20px;font-family: Arial; font-size: 14px;border-bottom: 2px solid #CFD638;color:#FFFFFF;padding-bottom: 15px;padding-right: 15px;margin:-26px -8px 10px;}
.padleft_25{padding-left: 50px;}
.padleft_400{padding-left: 230px;}
.footer_font{font-family: Arial; font-size: 14px;}
.body_part a{color:#fff;text-decoration:none}

.pop_header_title{font-size: 14px;color:#FFFFFF;text-align:center;border-bottom: 2px solid #CFD638;font-weight: normal;font-family: Arial;margin-left: -10px;margin-right: -10px;}


.marginleft_440{float: right; width: 23%; text-align: left;}

.divcd:hover{background:#CFD638 none repeat scroll 0% 0%; color:#333;  border-collapse: collapse; }
.divcustom{font-family	: Arial; font-size: 14px; color	: #FFFFFF; margin: 12px	}
.href_click  a{color:#fff;text-decoration:none}
.margin_content{padding: 0px 0px 5px 15px;  border-bottom: 2px solid #CFD638; text-align: left;}
.border_right{border-right:2px solid #CFD638;}

.seltrk{width:50%;height:90%;padding-left:5px;}
.padleft_338{padding-left:338px;}
.padleft_385{padding-left:385px;}
.padleft_450{padding-left:450px;}
.padleft_428{padding-left:428px;}


#file-table{margin-left:40px;width:80%;border-left: 1px solid #CFD638;border-right: 1px solid #CFD638; border-top: 1px solid #CFD638; border-bottom: 1px solid #CFD638; font-family: "Lucida Sans Unicode","Lucida Grande",Arial; font-size: 12px;  border-collapse: collapse; }
#file-table tr{color:#FFFFFF;}
#file-table td{padding-left: 10px;color:#FFFFFF;padding-top: 10px;padding-bottom: 10px;}
.background_clrgrey{background-color: grey}
.image_align{margin-top: 10px;margin-left: 50px;position:absolute;}
.image_style{margin-right: 750px;margin-top: 10px;}
.vertical_algn{vertical-align:middle;}
.background_clrgreen{background-color:#00FF00; }
.align_textstyle{padding-left: 60px;margin-top:-20px;font-family: Arial; font-size: 14px;border-bottom: 2px solid #CFD638;color:#FFFFFF;padding-bottom: 15px;padding-right: 15px;margin:9px -8px 10px;}

.sys_io{padding-left: 115px;color: #FFF;font-size: 12px;}
.sys_io_span{padding-left: 103px;color: #FFF;}
.gcp{padding-left: 80px;color: #FFF;}
.ezex{padding-left: 70px; color:#FFF}

.ezex1{padding-left: 30px; color:#FFF}
.ezex2{padding-left: 10px; color:#FFF}
.ezex3{padding-left: 11px; color:#FFF}
.ezex4{padding-left: 7px; color:#FFF}
.ezex5{padding-left: 19px; color:#FFF}
.ezex6{padding-left: 3px; color:#FFF}
.ezex7{padding-left: 2px; color:#FFF}
.ezex8{padding-left: 18px; color:#FFF}
.ezex9{padding-left: 18px; color:#FFF}
.ezex10{padding-left:12px; color:#FFF}
.ezex11{padding-left: 1px; color:#FFF}
.ezex16{padding-left: 15px; color:#FFF}
.gcp_pso{padding-left: 150px;color: #FFF;}
.pso_align1{padding-left: 28px; color:#FFF}
.pso_align2{padding-left: 28px; color:#FFF}
.prime{padding-left: 24px; color:#FFF}
.preempt{padding-left: 10px; color:#FFF}

.right_margin1{float:left; width:169px; min-height:300px; border-right: 1px solid #CFD638;margin-top: -18px;margin-bottom: 20px;}
#sub_table{width: 70px;border: 1px solid #CFD638;font-family: "Lucida Sans Unicode","Lucida Grande",Arial; font-size: 11px;  border-collapse: collapse; }
#sub_table tr td{color:#FFFFFF;border: 1px solid #CFD638;font-family: "Lucida Sans Unicode","Lucida Grande",Arial; font-size: 11px;  border-collapse: collapse; }
.menu_title{font-size: 16px;color:#CFD638;text-align:left;border-bottom: 2px solid #CFD638;font-family: Arial; padding-left: 10px;font-weight: normal;}
.menu_title a{color:#CFD638;text-decoration:none;}
.div_title{border-bottom: 2px solid #CFD638;text-align:center;color:#FF0000;}
.div_title1{border-bottom: 2px solid #CFD638;text-align:center;color:#00FF00;}
.text_css{color:#FFFFFF;padding-left: 30px;font-size: 12px;}
.text_css1{color:#FFFFFF;padding-left: 50px;font-size: 12px;}
.table_padding{padding-left:7px;}
.td_style{text-align:center;color:#FF0000;}
.td_style1{text-align:center;color:#00FF00;}

#mytable_body td a{color:#fff;text-decoration:none;}
#mytable_body tr:hover td{background:#CFD638 none repeat scroll 0% 0%; color:#333;}
.pop_data{font-size: 12px;color:#FFFFFF;text-align:center;border-bottom: 1px solid #CFD638;font-weight: normal;font-family: Arial;margin-left: -8px;margin-right: -8px;margin-top: 5px;margin-bottom: 5px;}
.pop_data_align1{float:right ;padding-left: 15px;}
.pop_data_align{float: left;padding-left: 5px;}
.pop_leftpad{padding-left: 1px;margin-left: 5px;margin-right: 5px;width:180px;}
.pop_leftpad p{float: left; width: 75px; color:#FFFFFF; font-family:Arial; font-size:12px; margin: 0px; padding-left: -10px;}
.pop_leftpad p.class{clear:both;}
.style_left_side img{width: 26%;height:198px;margin-top: 13px;margin-left: 117px;}
.padleft_250{padding-left: 250px;}
.display_none_style{display:none;}
.tbl_width{width:80%; }
.floatleft{float:left;}
.whiteclr a{color:#ffffff;}
.margin_top_100{margin-top:250px;}
.tbl_prop{cellspacing:0; cellpadding:0; width:100%; border:0;}
.sscc_align{width: 40px;height:15px;font-size: 12px;margin-left:5px;}
.txtclr_txtfont{color:#FFF;font-size: 14px;padding-left:59px;text-decoration:none;margin-top:-23px;}
.img_width{width: 17px;margin-top:11px;}
.align-marginleft{margin-left: 20px;}
.imgalign{margin-left:170px;margin-top: -30px;}
.style_left_side1 img{width: 26%;height:190px;margin-top:-126px;margin-left:434px;}
.sscc_divcd:hover{background: none repeat scroll 0% 0%; color:#333;  border-collapse: collapse; }
.sscc_pop_data{color:#FFFFFF;border-bottom: 1px solid #CFD638;margin-left: 0px;margin-right: 0px;margin-top: 0px;margin-bottom: 5px;}
.topalign{padding-top: 10px;}
.text_leftpad_align{padding-left: 33px;text-align: left;}
.btn_align{margin-left: 320px;float: left;margin-top: -35px;}
.margin_top_100{margin-top:250px;}

.okgreen{color: green;}
.okred{color: red;}
.alignment_center{padding-left: 222px;}

.paddleft{padding-left: 86px;margin-top: 3px;}
.paddleft1{padding-left: 15px;}
.tx{padding-left: 10px;}
.tx1{padding-left: 10px;}
.tx2{padding-left: 30px;}


#mytable_body_css th.leftnav_leftnavbkgd span{width:10px;height:5px;background:url("/images/leftnav/SubNavBKND.png") no-repeat scroll left center transparent;text-align:center; padding: 48px}

#mytable_body_css th.title {font-size:12px;	height:27px;background-color: #5e5e5e;font-weight:bold;	color:#FFFFFF;border: 1px #5e5e5e solid;}
#mytable_body_css tr th {color:#FFFFFF;font-size:12px;padding-left: 50px;font-weight:normal;height:30px;font-family:Arial;text-align:left;}
#mytable_body_css tr th.lft{text-align: left;}

#mytable_body_css tr td {color:#FFFFFF;font-size:12px;padding-left: 10px;font-weight:normal;font-family:Arial;text-align:center;}
#mytable_body_css tr th.stact{text-align: left;}
#mytable_body_css tr td.stact{text-align: left;}
#mytable_body_css caption{padding-left: 50px;color:#CFD638;font-size:14px;font-family: Arial;}
#mytable_body_css tr.over td, tr:hover td {background: none;}
#mytable_body_css td a{color:#fff;text-decoration:none;}
#mytable_body_css tr:hover td{background:#CFD638 none repeat scroll 0% 0%; color:#333;}

.contentbarwidth_logs {
    -moz-border-radius: 8px 8px 8px 8px;
    background-image: url("../images/ActionButtonsBKND3.png");
    background-position: -1%;
    color: #FFFFFF;
    height: 25px;
    margin-left: 6px;
    margin-top: 1px;
    padding-top: 6px;
    width: 93.3%;
}
.update_icon a{ display: block; margin: -3px; overflow: hidden; text-indent:-9999px; width:71px; height:19px; margin-top:1px; background-image: url("/images/update_arte.png");}
.track_view_details_gcp {
	padding:10px 5px 10px 70px; 
}
.track_view_details_gcp tr th {color:#CFD638;text-decoration:underline;}
.track_view_details_gcp tr td.labels{color:#FFFFFF;}
.track_view_details_gcp tr td.values{color:#99BD4B;}

.track_view_details_predictors {
	padding:10px 0px;
}
.track_view_details_predictors tr th {color:#CFD638;text-decoration:underline;}
.track_view_details_predictors tr td.labels{color:#FFFFFF;}
.track_view_details_predictors tr td.values{color:#99BD4B;}

.track_view_details_island {
	padding:10px 0px 0px 35px;
}
.track_view_details_island tr th {color:#CFD638;text-decoration:underline;}
.track_view_details_island tr td.labels{color:#FFFFFF;}
.track_view_details_island tr td.values{color:#99BD4B;}

.track_view_details_io {
	padding:10px 0px 0px 35px;
}
.track_view_details_io tr th {color:#CFD638;text-decoration:underline;}
.track_view_details_io tr td.labels{color:#FFFFFF;}
.track_view_details_io tr td.values{color:#99BD4B;}

#tracks{
	
	border-top: 0px;
	text-align:center;	
}
#pso, #sscc {
	border :1px solid #282828;
	text-align:center;	
}