h1
{
  color:white;
}
h2
{
  color:white;
}


.contentCSPselsmallverbo
{
    color: #FFF;
    background-color: #444; /* transparent */
    width: auto;
    height: 22px;
    border: 1px solid #888;
    font-size: 12px
}

.dl_link_style{
    cursor:pointer !important;
	list-style: none outside none !important;
}
