.card_warpper{
	background-color: #424242;
	margin: 5px;
	padding: 4px;
	float: left;
	border: 1px solid #787878;
	position: relative;
	width:445px;
}
.card_new_row{
	clear:both;
}
.card_title{
	margin: 0 auto;
	width: 100px;
	padding: 5px;
	color: #fff;
	font-family: Arial;
	font-size: 15px;
}
.card_status{
	padding: 0;
	margin: 10px;
	position: absolute;
	top: 0px;
	right: 0px;
	width: 16px;
	height: 16px;
}
.card_feedback_wrapper{
	height: 20px;
}
.card_error{
	width: 160px;
	float: left;
}
/****************** user input ******************/
.card_input_row{
	clear:both;
	height: 35px;
}
.card_input_title{
	margin: 10px;
	width: 115px;
	padding: 0px;
	color: #fff;
	font-family: Arial;
	font-size: 15px;
	float: left;
}
.card_input{
	float: left;
	margin: 5px;
	padding: 0px;
}
.card_input input[type="text"]{
	font-family: Arial;
	font-size: 15px;
	border: 1px solid #787878;
	background-color: #515151;
	height: 25px;
	padding: 0;
	margin: 0;
	color:#fff;
	font-family: Arial;
	font-size: 15px;
	width: 125px
}
.card_save_button{
	float: left;
	margin: 0;
	padding: 0;
	position: absolute;
	right: 100px;
}
.card_save_button img{
	padding: 0;
	margin: 8px;
	cursor: pointer;
}
/****************** lamp table /******************/
.lamp_table{
	margin: 10px 5px;
	padding: 0px;
	position: relative;
	top: 10px;
    clear: both;
}
.lamp_table table, 
.lamp_table td{
	border-collapse: collapse;
	border: 1px solid #787878;
	color:#fff;
}
.lamp_table td{
	width: 250px;
	padding: 5px;
	margin: 0;
}
.lamp_table .even{
	background-color: #515151;
}
.lamp_vlo_status span{
	float:right;
	margin:0px 5px;
}
.lamp_led{
	float: right;
}
/****************** track table /******************/
.track_table{
	margin: 10px 5px;
	padding: 0px;
	position: relative;
	top: 10px;
    clear: both;
}
.track_table table, 
.track_table td{
	border-collapse: collapse;
	border: 1px solid #787878;
	color:#fff;
}
.track_table td{
	width: 200px;
	padding: 5px;
	margin: 0;
	height: 20px;
}
.track_table .even{
	background-color: #515151;
}
.lamp_container_wrapper{
	overflow: hidden;
}
