h1{
    color:#FFFFFF; /* White */
}

h2{
    color:#FFFFFF; /* White */
}

p{
    color:#FFFFFF; /* White */
}

 /* Format for drop down list selector */
.smalldropdownlist_format {
    color: #FFF;
    background-color: #444; /* transparent */
    width: auto;
    height: 22px;
    border: 1px solid #888;
    font-size: 12px
}

.type_format {
    color: #FFF;
    background-color: #444; /* transparent */
    font-weight: bold;
    font-size: 14px
}

.stats_bad_crc {
	padding:10px 0px 15px 5px;
	font-size:12px;
	color: #FFF;
}
.stats_bad_crc_label {
	color:#CFD631;
	font-weight:bold;
	font-size:11px;
}
.statstable th {
	color:#CFD631;
	font-weight:bold;
}
.statstable td {
	color:#FFF;
}