<div class="lamp_table">
	<table class="vlo_table">
		
	<%
        
		(0..1).each do |i|
			channel_name = track['data'][i]['PCO']['name']
			channel_status = track['data'][i]['PCO']['param']['lamp_status']
			channel_led = track['data'][i]['PCO']['param']['lamp_image']
			cmd_armature = track['data'][i]['PCO']['param']['cmd_armature']
			status_armature = track['data'][i]['PCO']['param']['status_armature']
			mech_failure = track['data'][i]['PCO']['param']['mech_failure']
            fe = track['data'][i]['PCO']['param']['foreign_energy'] == true ? "style='background-color:yellow;'" :""
            text_color = (fe=="")?"color:#FFFFFF" : "color:#000000"
            mech_failure_img = '<span style="padding-left:5px;'+text_color+'">'+cmd_armature+'</span><img style="padding-left:5px;padding-right:5px;" src="/images/'+mech_failure+'"/><span style="padding-left:5px;padding-right:15px;'+text_color+'">'+status_armature+'</span>'
			concat '<tr><td>'+channel_name+'</td><td class="vlo1_value" '+fe+'>'+mech_failure_img+'<img class="lamp_led" src="'+channel_led+'"/><span style='+text_color+'>'+channel_status+'</span></td></tr>'

		end
	%>
	</table>
</div>