<%
	if !@active_cards.blank?
		if @active_cards.include?(1) || @active_cards.include?(4) || @active_cards.include?(48) 
			concat '<li class="leftnavtext_U" page_href="/setup/tracks" id="find_me"><span class="leftnavtext_D">Track Setup</span></li>'
		end
	
		if @active_cards.include?(3) || @active_cards.include?(2)
			concat '<li class="leftnavtext_U" page_href="/setup/lamps"><span class="leftnavtext_U">Lamp Setup</span></li>'
		end
	end

%>