<div class="text_font text_white">
	<% if @enabled_parameter.to_i == 102 %>
    	<p class="mcfextractor_log_content">High Availability is disabled.</p>
	<% else %>
	 	<%= render :partial => "status" %>
	<% end %>	
</div>
<% if @enabled_parameter.to_i == 103 %>
	<%= javascript_include_tag 'high_availabilities' %>
<% end %>