<div style="height:20px;">&nbsp;</div>
<div class="g_para">You have reached the safetran systems VIU Web based user Interface. Through this easy to use web tool, you can configure control, and observe this device by clicking the appropriate links and buttons throughout the system.</div><br />
<div class="g_para">You may select a system area from the menu above, and then choose a more specific selection from the menu that appears to the left. If you need help, you may return to this page by clicking on the "Home" link above and selecting the "WebUI Troubleshoot" link from the left.
</div><br/>
<div class="g_para">Please <!--<a href="#" id="create-user">--><a href="access/login_form" class ="submodal-300-200" method="get">Login</a> to begin using the VIU WebUI</div>
