<div id="reportcontent" class="reportcontenttextCS">
	<% unless @filep.blank? %>
		<%	counter = 1
		begin
			file = File.new(@filep, "r")
				while (line = file.gets)
					@data = "#{line}" %>
					<%=@data %>
					<br/>
					<%
					counter = counter + 1
				end
			file.close
			rescue => err
			puts "Exception: #{err}"
			err
		end %>
	<%end%>
</div>
<div id="hidden">
	<%= hidden_field_tag 'download_path', @filep%>
</div>
