<table cellspacing="0" cellpadding="0" border="0" class="statstable" width="100%" class="logtable" style="color:#454545;">
  <thead>
    <tr>
      <th class="title" width="150"> <span style="color:#CFD631;font-size:12px;">VLP Statistics</span> </th>
      <th class="title" width="100"> <span style="color:#CFD631;font-size:12px;">Value</span> </th>
    </tr>
  </thead>
  <tbody>
      <tr>
        <td class="txtleft"> <span style="color:#fff">Reboots</span> </td>
        <td class="txtleft"> <span style="color:#fff"><%= @currentrequest.vlp_reboots %></span> </td>
      </tr>
  </tbody>
</table>

<script type="text/javascript">
  $('.statstable').flexigrid({width: "90%", height:'auto',striped:false});
</script>