<div style="padding:10px">
    <table cellspacing="0" cellpadding="0" border="0" class="logtable" width="90%" class="logtable" style="color:#454545;">
	<thead>                                       
		<tr>			
		 	<th class="title" width="100" id ="messagesource"><span style="color:#CFD631;font-size:12px;">Names</span>
          	</th>
			<th class="title" width="100" id ="date"><span style="color:#CFD631;font-size:12px;">Values</span>
          	</th>			                                                         
		</tr>
	</thead>
	<tbody>
			<%File.open("doc/logic_state.txt", "w+") do |mf|%> 
			<% st_values = get_system_state_values(min, max, system_state_rq_id)
                 # open file for read and write
               if !st_values.blank?
			     st_values.each do |v| %>
			        <%mf.puts(v[:name] +'|'+ v[:value] + "\r\n")%>
				  	<tr class="<%= cycle('even','odd') %>">
						<td class="txtleft"><span style="color:#fff"><%= v[:name] %></span></td>
						<td class="txtleft"><span style="color:#fff"><%= v[:value] %></span></td>
					</tr>
				
			     <% end %>
				 <%else%>
				   <%mf.puts('No data available for the request')%>
			   <%end%>
		     <%end%>
	</tbody>
</table>
</div>

<script type="text/javascript">
  $('.logtable').flexigrid({width: "90%", height:'auto',striped:false});
  $("#system_state_req_id").val("<%= system_state_rq_id %>");
</script>
