<div class="outer_box" style="border-bottom:1px solid #000;">
    <table cellspacing=0 cellpadding=0 class="channel_table">
        <tr>
            <td class='no_border_led' id="channel_title" style='height:0px;'>
               <% if card_type && card_type != 4 %>
				 <%= channel_name.blank? ? "LED" : channel_name %>		
               <% end %>  
            </td>
        </tr>
        <tr>
            <%# led_codes = get_coded_track_led(led_parameters) %>
			<% led_codes = led_command_parameters(channel_parameters, "LED", channel_index) %>
			
            <td class='no_border_led'>
                <%= led_codes["led_image"] %>
            </td>
            <td class='no_border_led'>
                <%= led_codes["led_status"] %>
            </td>
        </tr>
    </table>
</div>
