<div class="status_data">
    <div class="outer_box" style='margin:0;border-bottom: 1px solid #000;'>
		<%= render :partial => "/io_status_view/channels/vco_channel", 
			:locals => {:channel_index => channel_index, :channel_parameters => channel_parameters, :atcs_address => atcs_address, :card_index => card_index, :card_type => card_type, :channel_name => channel_name} %>
		<%= render :partial => "/io_status_view/channels/vti_channel", 
			:locals => {:channel_index => channel_index, :channel_parameters => channel_parameters, :atcs_address => atcs_address, :card_index => card_index, :card_type => card_type} %>
    </div>
</div>
