<div>
    <% if param_value == 1 %>
    <%= image_tag("dt/plaingreencircle.png") %>
    <% else %>
    <%= image_tag("dt/plainredcircle.png") %>
    <% end %>
    <span><%= param_name %></span>
</div>
