<% vlo_hash = get_vlo_colour_code_images(channel_parameters, channel_index, "VLO", channel_name) %>

<div class="outer_box" style="<%= vlo_hash['foreign_energy'].blank? ? "" : 'background-color:yellow;' %>">
    <table cellspacing=0 cellpadding=0 class="channel_table">
        <tr>
            <td class='no_border_led' id="channel_title" colspan=2>
            	<%= channel_name.blank? ? "VLO" : channel_name %>	
            </td>
        </tr>
        <tr>
            <td class='no_border_led' id="channel_status_image">
                <%= vlo_hash['lamp_image'] %>
            </td>
            <td class='no_border_led'>
                <%= vlo_hash['lamp_status'] %>
            </td>
        </tr>
    </table>
</div>
