<div class="outer_box" style="padding-top:3px; padding-bottom:3px;">
	<% xlo_codes = get_xlo_parameters(channel_parameters, channel_index, "XLO") %>
	<table cellspacing=0 cellpadding=0 class="channel_table">
        <tr>
            <td class='no_border_led' id="channel_status_image">
            	<span style='padding-right:3px;'><%= xlo_codes['lamp_image'] %></span>
            </td>
            <td class='no_border_led'>
                <%= xlo_codes["status"] %>
            </td>
        </tr>
    </table>
</div>	