<div id="site_content" style="float: left;height:400px;width:100%;">
    <div class="contentactionbar content_bar_calib_width">
        <div>
            <div style="float: left;" class="contentactionbuttonlabel contentactionbuttonlabelI text_image unlock_icon">
                <%= link_to("Unlock", "javascript:void(0);", :class => "parameters_unlock") %>
            </div>
        </div>
        <span id="ajax_spinner"><%= image_tag("/images/ajax-loader.gif") %></span>
    </div>
    <div id="response_message"></div>
    <div class='label'>Set Default</div>
    <div id="basic_site contentdata" class="l_port">
        <div id='contentdata' class='programming_parameters' style='text-align:center;'>
            <div id="serial_outer" class="serial_outer">
                <div id='template_defaults' class="<%= 'disabled' if @ui_state.nil? %>">
                    <span class='label' style='left:-8px;'>Set Defaults</span>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function(){
        $.post('/gcp_programming/check_user_presence/',{
            //no params
        },function(resp){
            if(resp == "true"){
                $('.parameters_unlock').addClass("disabled_buttons");
            }
        });

        $("#template_defaults").click(function(){
            if(!$(this).hasClass('disabled')){
                var temp_confirm = confirm("Set Display defaults?")
                if(temp_confirm){
                    var parent_window = $('.parent_class', window.parent.document);
                    parent_window.mask("Setting default values, please wait...");
                    $.get("/gcp_programming/non_vitual_set_to_default", function(request_id){
                        $(parent_window).unmask("Setting default values, please wait...");
                        $("#response_message").show().html("<span class='mcf_successmesg' style='font-size:16px;'>Set to default process completed successfully</span>");
                    });
                }
            }
        });
    });
</script>
<style type="text/css">
    
    .disabled{
        opacity: 0.5;
        cursor: default !important;
    }
    
    #ajax_spinner {
        left: 650px;
        position: absolute;
        top: 0;
        display: none;
    }
    
    .label {
        color: #F2F2F2;
        font-family: Arial;
        font-size: 14px;
        font-style: normal;
        font-weight: bold;
        text-decoration: none;
        text-align: center;
        padding: 15px 0;
    }
    
    #response_message{
        padding:10px 5px 0px 5px;
        font-size:16px;
        color:green;
        text-align:center;
    }
</style>
