<%= javascript_include_tag 'config_create_template' %>
<div class="gcp_create_template_content_area">
<%unless @sitelocation.blank? %>
    <input type="hidden" id="hd_site_location" value="<%= @sitelocation%>" />
	<span class='template_loader'><%= image_tag("/images/ajax-loader_white.gif") %></span>
	<div class="clear"></div>
	<div class="padding_left_10 text_font"><label>Template Name : </label></div>
	<div class="clear"></div>
	<div class="padding_left_10"><%= text_field_tag "template_name", @templatename, :maxlength => 20, :size => 20, :class =>"contentCSPsel_template_name",:onchange=>"valudate_templatename();", :disabled => false, :html=>{:style => "text-transform:capitalize"}%></div>
	<div class="clear"></div>
	<div class="clear"></div>
	<div class="padding_left_10 mcf_file_margin_5">
	    <button id="btn_save_template" class='btn_save_template'>Create Template</button>
		<button class='cancel_button button_width_75'>Cancel</button>
	</div>
<%else%>
	<div>Please open existing site configuration and try again.</div>
<%end%>
</div>
