<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <title>WebUI: Programming</title>
        <%= stylesheet_link_tag "gcp_content", "jquery.treeview.MOD", 'content', 'jquery.loadmask', 'screen', 'background_image_definer','general' %>
        <%= javascript_include_tag 'jquery.js', 'track_events', 'recorder_io_assignment' %>
		
		<style type='text/css'>
			.text_type{text-align: left;}		
			.ucn_protected{
				float: left;
				width: 18px;
			}
			.left_arrow{
				float: left;
    			padding-left: 20px;
			}
			.right_arrow{
				float: right;
    			padding-right: 20px;
			}
			.programming_action_buttons{
				display: none;
			}
			.parameter_menu_link{
				color: #CFD638;
				font-weight: bold;
				text-decoration: none;
			}
			
			.parameter_menu_link:hover{
				color: #CFD638;
				text-decoration: none;
			}
			
		</style>
    </head>
    <body>
        <%= yield %>
    </body>
</html>
