<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<title>Module IO</title>
		<%= stylesheet_link_tag "content", "jquery.contextMenu", :cache => "cached/io_status" %>
		<%= javascript_include_tag "jquery", "jquery.contextmenu", "io_status_view", :cache => "cached/io_status" %>
		<script type="text/javascript">
			var timestamp_interval = auto_refresh = null;			
		</script>
	</head>
	<body>
		<%= yield :layout %>
	</body>
</html>
