<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<% if PRODUCT_TYPE == PRODUCT_TYPE_GEO_OCE %>
        	        <title>OCE WebUI</title>
		<% else %>
			<title>GEO WebUI</title>
		<% end %>
        <%= stylesheet_link_tag "general", "jquery.treeview.MOD", "header", "footer", "topnav", "leftnav", "breadcrumbs", "submodal", :cache => "cached/login" %>
        <%= javascript_include_tag 'jquery', 'jquery.FormNavigate', 'jquery.treeview', :cache => "cached/login" %>
        <script type='text/javascript'>
			$(document).ready(function(){
				logerrortimeout();
				$(".passwordfield").focus();
			});
			
            function logerrortimeout(){
                $('#errormesgred').fadeOut(10000, function(){
                    $('#errormesgred').html("");
                })
            }            
        </script>
        <style type="text/css">
            .admintext {
                color: #CFD638;
                font-family: verdana;
                font-size: 12px;
                font-weight: bold;
                text-align: left;
            }
            
            .passwordfield {
                color: #CFD638;
                background-color: #444;
                width: 95px;
                height: 20px;
                border: 1px solid #888;
                font-size: 12px;
            }
			
			.SelLoginUser {
				color: #CFD638;
                font-family: verdana;
                font-size: 12px;
                font-weight: bold;
                text-align: left;
			}
			
        </style>
    </head>
    <body class="background_color">
        <%= yield :layout %>
    </body>
</html>
