<script type="text/javascript">
   function show_current_value(val, id){
        document.getElementById(id).innerHTML = val;		
    }
</script>
<div class="floatleft width100">
    <div class="floatleft width100 padtop_15">
        <% unless @parameters.blank? %>
        <table cellpadding="0" cellspacing="0" border="0" style='padding:18px 0 0 95px;width:340px;'>
            <tr class="slot_header">
                <td colspan="2" width="98px">
                    <!--<div class="card_list" style='height:100%; float:left; Background: #CCCCCC;'> -->
					<% card_health_status_bit = get_card_health(@card_index, @atcs_address, @mcfcrc) %>
                    <div class="slot_header" style='height:20px;padding-top:5px;font-size:13px;font-weight:bold;color:#FFF;text-align:center; background-color:<%= card_health_status_bit == '1' ? "#9D0F10" : "green" %>'>
                        <%= @card_name %>
                    </div>
                    <!--</div>-->
                </td>
            </tr>
            <tr>
                <td>
                    <div style='background-color:#348781;float:left;width:100%;'>
                        <div style='background-color:#BABABA;float:left;margin: 10px 0 10px 6px;width:95%;'>
                            <div style='float:left;width:40%;'>
                                <%= render :partial => "atcs_comm_parameters", :locals => {:param_type => Parameter_Four} %>
                            </div>
                            <div style='float:right;width:49%;'>
                               <%= render :partial => "atcs_comm_parameters", :locals => {:param_type => Parameter_Three} %>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
        </table>
        <% end %>
    </div>
</div>
