<style>
    .hlink {
        text-decoration: none;
    }
</style>
<%= javascript_include_tag 'jquery', 'jquery.treeview' %>
<div class="mcf" id="card">
    <div class="mcfcontent" id="carddetails" style='overflow-y: auto;border:0'>
        <%= render :partial=>'cardinformation' %>
    </div>
</div>
