<table cellspacing="0" cellpadding="0" width="50%" border="0" id="mytable">
<thead>                                       
  <tr>                                                              
       <th class="txtleft title">Names</th>            
       <th class="txtleft title">Values</th>                    
  </tr>
 </thead>
 <tbody>
   <tr> 
         <td class="trnwclass">&nbsp;</td>                                                                                     
         <td class="trnwclass">&nbsp;</td>                                                  
  </tr>
    
<%reply = IsReply.find(:all, :select=>'is_value', :conditions => ['request_id = ? ',session[:event_id]])%>
<%prop_ind = LsLogicStates.find(:all, :select => 'no,mcfcrc,propindex', :conditions => ['mcfcrc = -949219281 AND propindex BETWEEN 220 AND 551'])%>
 <%if prop_ind%>
 <%prop_ind.length.times do |i|%>
  <tr class="<%=cycle('even','odd')%>">
	<%prop = LsProperties.find(:first, :select => 'prop_name, enum_index', :conditions =>['prop_index = ? ',prop_ind[i].propindex])%>
     <% enumeration = LsEnumerators.find(:first, :select => 'name', :conditions =>['enum_index = ?  AND value = ?', prop.enum_index, 0])%>
       <td class="trnwclass"><%=prop.map{|p| p.prop_name}%></td>
	   <td class="trnwclass"><%=enumeration.map{|e| e.name}%></td>
 </tr>
 <%
 #end
 end
 end%>
</tbody>
</table>