<!--*********************************************************************************
  File name    : _vip_statisticsb.html.erb

  Description  : This view is used to display the VLP Statistics fields(Reboots). 

  Project Name : iVIU - WebUI Project

  Copyright    : Safetran Systems Corporation, U.S.A. 
                     Research and Development

  Author       : Cognizant Technology Solutions

*********************************************************************************-->
<div>
<table cellspacing="0" cellpadding="0" width="100%" border="0" class="logtable" style="color:#454545">
	<thead> 
		<tr>
			<th class="title" width="400" style="color:#CFD631;font-size:12px;">VLP Statistics</th>
			<th class="title" width="100" style="color:#CFD631;font-size:12px;">Value</th>		
		</tr>
	</thead>
	<tbody> 
	<% records_found = true
	   unless statistic.vlp_reboots.blank?%>
		<tr>                                                 
			<td class="txtleft">&nbsp;</td>
			<td class="txtleft">&nbsp;</td>                                        
		</tr>
		<tr>
			<td class="txtleft">Reboots</td>
			<td class="txtleft"><%= statistic.vlp_reboots %></td>		
		</tr>
	<% else
		records_found = false
	   end %>	
	</tbody>
</table>
</div>
<% if !records_found %>
	<div class='contentCSPlabel' style="padding:50px; text-align:center;">No device data found.</div>
<% end %>
<%= hidden_field_tag 'request_id', request_id %>

<script type="text/javascript">
  	$('.logtable').flexigrid({height:'auto', striped:false});
</script>
