<!--*********************************************************************************
  File name    : loading.html.erb

  Description  : This view is used to call dtstatistics_process periodically.

  Project Name : iVIU - WebUI Project

  Copyright    : Safetran Systems Corporation, U.S.A. 
                     Research and Development

  Author       : Cognizant Technology Solutions

*********************************************************************************-->
<script type="text/javascript">
function check_condition(){
    var c = document.getElementById("stat_id").innerHTML;
    if (c != "") {
        if (c == 0 || c == 1) {
            document.getElementById('show_status').style.display = "block";
            return true;
        }
    }
    document.getElementById('show_status').style.display = "none";
    return false;
}	
</script>
<div id='periodical_remote_call'>
<form id="loading" name="loading">
	<%= periodically_call_remote :url => {:action => 'dtstatistics_process', 
															 :id => @stat_id}, 
															 :frequency => 2 %>
</form>
</div>