<input type="hidden" name="act" id="act" value=<%=@act %> />
<input type="hidden" name="heading" id="heading" value=<%=@heading %> />
<div style="clear:both"></div>
<div style="margin-top: 26px; width: 100%; float: left;">
	<div class="floatleft width100">
  	<div class="floatleft width100 padtop_15">
		  <div>
	<table cellspacing="0" cellpadding="0" width="80%" border="0" id="mytable">
	<thead>
		<tr>
			<th class="title"><strong>LED</strong></th>
			<th class="title"></th>
			<th class="title left"><strong>Cartridge/Modules</strong></th>
		</tr>
	</thead>	
		<tbody>
			  <tr>
			    <td class="trnwclass padleft_10 txtblckcolor">1</td>
			    <td class="trnwclass led_image green_led"></td>
			    <td class="trnwclass txtblckcolor left">GEO 1</td>							    
			  </tr>
			  <tr>
			    <td class="trnwclass padleft_10 txtblckcolor">2</td>
			    <td class="trnwclass led_image red_led"></td>
			    <td class="trnwclass txtblckcolor left">GEO 2</td>							      
			  </tr>
			  <tr>
			    <td class="trnwclass padleft_10 txtblckcolor width10">3</td>
			    <td class="trnwclass led_image yellow_led"></td>
			    <td class="trnwclass txtblckcolor left">VIO-01 VIO-02</td>							      
			  </tr>
			  <tr>
			   	<td class="trnwclass padleft_10 txtblckcolor">4</td>
			    <td class="trnwclass led_image green_led"></td>
			    <td class="trnwclass txtblckcolor left">VIO-03</td>
			  </tr>
			  <tr>
			    <td class="trnwclass padleft_10 txtblckcolor">5</td>
			    <td class="trnwclass led_image red_led"></td>
			    <td class="trnwclass txtblckcolor left">VIO-04 NVIO-5</td>							      
			  </tr>
			  <tr>
			    <td class="trnwclass padleft_10 txtblckcolor">6</td>
			    <td class="trnwclass led_image yellow_led"></td>
			    <td class="trnwclass txtblckcolor left">CDL Defined</td>							     
			  </tr>
			  <tr>
			    <td class="trnwclass padleft_10 txtblckcolor">7</td>
			    <td class="trnwclass led_image green_led"></td>
			    <td class="trnwclass txtblckcolor left">UTC-06</td>
			  </tr>
			  <tr>
			    <td class="trnwclass padleft_10 txtblckcolor">8</td>
			    <td class="trnwclass led_image red_led"></td>
			    <td class="trnwclass txtblckcolor left">CCC-07</td>							      
			  </tr>
			  <tr>
			    <td class="trnwclass padleft_10 txtblckcolor">9</td>
			    <td class="trnwclass led_image green_led"></td>
			    <td class="trnwclass txtblckcolor left">ULCP 1 VIO-03 UTC-06</td>							   
			  </tr>
		</tbody>
	</table>
            </div>
        </div>
    </div>
</div>
