<html>	
	<body>
		<input type="hidden" name="act" id="act" value=<%=@act %> />

		<h1>Config Report</h1>
		<div class="content_header">	
			<div class="content_header_icons">					
						<div id="congif_top_icons">
							<%= image_submit_tag '../images/refresh_active.gif' %>
						</div>
						<div id="congif_top_icons">
							<%= image_submit_tag '../images/default_active.gif' %>
						</div>
			</div>
			<div class="cont_header_right"><div class="ar_icons">&nbsp;</div></div>
		</div>
		<div style="clear:both"></div>
		<div style="width:100%;overflow-y:scroll; height:350px; overflow-x:hidden;">
		<div class="floatleft width100">
			<div class="floatleft width100 padtop_15">START OF REPORT</div>
			<div class="floatleft width100 padtop_15 underlinetxt">Site Settings</div>
		</div>
		<div class="floatleft width100">
			<div class="floatleft width100">
				<div class="floatleft padright_10 width100">
					<table width="100%">
						<tr><td width="20%">Site Name</td>
							<td>:&nbsp;&nbsp;Safetran Systems</td>
						</tr>
						<tr><td width="20%">DOT Number</td>
							<td>:&nbsp;&nbsp;000000A</td>
						</tr>
						<tr><td width="20%">Milepost</td>				
							<td>:&nbsp;&nbsp;000.0</td>
						</tr>
						<tr><td width="20%">Time zone</td>			
							<td>:&nbsp;&nbsp;Eastern</td>
						</tr>
						<tr><td width="20%">Site ATCS Address</td>
							<td>:&nbsp;&nbsp;7.620.100.100.06</td>
						</tr>
						<tr><td width="20%">Site CAD Address</td>				
							<td>:&nbsp;&nbsp;2.620.00.0000</td>
						</tr>
						<tr><td width="20%">Path Selection Mode</td>			
							<td>:&nbsp;&nbsp;Primary/Backup</td>
						</tr>
						<tr><td width="20%">Indication Refresh Period</td>				
							<td>:&nbsp;&nbsp;60</td>
						</tr>
						<tr><td width="20%">Indication Holdoff</td>			
							<td>:&nbsp;&nbsp;0</td>
						</tr>
					</table>
				</div>				
			</div>
		</div>
		<div class="floatleft width100">
			<div class="floatleft width100 padtop_15 underlinetxt">CDL Program Version</div>
		</div>
		<div class="floatleft width100">
			<div class="floatleft width100">
				<div class="floatleft padright_10 width100">
					<table width="100%">
						<tr><td width="20%">Version</td>							
							<td>:&nbsp;&nbsp;Version Not Specified</td>
						</tr>
						<tr><td width="20%">CDL File Name</td>							
							<td>:&nbsp;&nbsp;gfttest.cdl</td>
						</tr>						
					</table>
				</div>
				
			</div>
		</div>
		<div class="floatleft width100">
			<div class="floatleft width100 padtop_15 underlinetxt">Ladder Logic Version</div>
		</div>
		<div class="floatleft width100">
			<div class="floatleft width100">
				<div class="floatleft padright_10 width100">
					<table width="100%">
						<tr><td width="20%">Logic ID</td>							
							<td>:&nbsp;&nbsp;254</td>
						</tr>
						<tr><td width="20%">Logic Revision</td>							
							<td>:&nbsp;&nbsp;67</td>
						</tr>
						<tr><td width="20%">Logic Name</td>							
							<td>:&nbsp;&nbsp;CMTEST_CNEOSR67.LLW</td>
						</tr>
						<tr><td width="20%">Logic Checksum</td>							
							<td>:&nbsp;&nbsp;543b</td>
						</tr>
						<tr><td width="20%">Lable Name</td>							
							<td>:&nbsp;&nbsp;CMTEST_CNEOSR67.LLB</td>
						</tr>
						<tr><td width="20%">Lable Checksum</td>							
							<td>:&nbsp;&nbsp;ad21</td>
						</tr>					
					</table>
				</div>
				
			</div>
		</div>
		<div class="floatleft width100">
			<div class="floatleft width100 padtop_15 underlinetxt">Application Menu Answers</div>
		</div>
		<div class="floatleft width100">
			<div class="floatleft width100">
				<div class="floatleft padright_10 width100">
					<table width="100%">
						<tr><td width="5%">ID</td>
							<td width="25%">Question</td>
							<td>Answer</td>					
						</tr>
						<tr><td width="5%">---</td>
							<td width="25%">------------------------</td>
							<td>-----------------------</td>					
						</tr>																		
					</table> 
				</div> 
				
			</div>
		</div>
		<div class="floatleft width100">
			<div class="floatleft width100 padtop_15 underlinetxt">CDL Compiler Settings</div>
		</div>
		<div class="floatleft width100">
			<div class="floatleft width100">
				<div class="floatleft padright_10 width100">
					<table width="100%">
						<tr><td width="20%">CDL Log Level</td>
							<td>:&nbsp;&nbsp;Debug</td>							
						</tr>																				
					</table> 
				</div>				
			</div>
		</div>
		<div class="floatleft width100">
			<div class="floatleft width100 padtop_15 underlinetxt">Laptop Serial Port Settings</div>
		</div>
		<div class="floatleft width100">
			<div class="floatleft width100">
				<div class="floatleft padright_10 width100">
					<table width="100%">
						<tr><td width="20%">Baud Rate</td>
							<td>:&nbsp;&nbsp;115200</td>							
						</tr>
						<tr><td width="20%">Data Bits</td>
							<td>:&nbsp;&nbsp;7</td>							
						</tr>
						<tr><td width="20%">Parity</td>
							<td>:&nbsp;&nbsp;Odd</td>						
						</tr>
						<tr><td width="20%">Stop Bits</td>
							<td>:&nbsp;&nbsp;2</td>							
						</tr>
						<tr><td width="20%">Flow Control</td>
							<td>:&nbsp;&nbsp;Hardware</td>							
						</tr>				 																
					</table> 
				</div>				
			</div>
		</div>
		<div class="floatleft width100">
			<div class="floatleft width100 padtop_15 underlinetxt">Comms Serial Port 1 Settings</div>
		</div>
		<div class="floatleft width100">
			<div class="floatleft width100">
				<div class="floatleft padright_10 width100">
					<table width="100%">
						<tr><td width="20%">Baud Rate</td>
							<td>:&nbsp;&nbsp;9600</td>							
						</tr>
						<tr><td width="20%">Data Bits</td>
							<td>:&nbsp;&nbsp;8</td>							
						</tr>
						<tr><td width="20%">Parity</td>
							<td>:&nbsp;&nbsp;None</td>						
						</tr>
						<tr><td width="20%">Stop Bits</td>
							<td>:&nbsp;&nbsp;1</td>							
						</tr>
						<tr><td width="20%">Flow Control</td>
							<td>:&nbsp;&nbsp;None</td>							
						</tr>
						<tr><td width="20%">Path Type</td>
							<td>:&nbsp;&nbsp;None</td>							
						</tr>				 																
					</table> 
				</div>				
			</div>
		</div>
		<div class="floatleft width100">
			<div class="floatleft width100 padtop_15 underlinetxt">Comms Serial Port 2 Settings</div>
		</div>
		<div class="floatleft width100">
			<div class="floatleft width100">
				<div class="floatleft padright_10 width100">
					<table width="100%">
						<tr><td width="20%">Baud Rate</td>
							<td>:&nbsp;&nbsp;9600</td>							
						</tr>
						<tr><td width="20%">Data Bits</td>
							<td>:&nbsp;&nbsp;8</td>							
						</tr>
						<tr><td width="20%">Parity</td>
							<td>:&nbsp;&nbsp;None</td>						
						</tr>
						<tr><td width="20%">Stop Bits</td>
							<td>:&nbsp;&nbsp;1</td>							
						</tr>
						<tr><td width="20%">Flow Control</td>
							<td>:&nbsp;&nbsp;None</td>							
						</tr>
						<tr><td width="20%">Path Type</td>
							<td>:&nbsp;&nbsp;None</td>							
						</tr>				 																
					</table> 
				</div>				
			</div>
		</div>
		<div class="floatleft width100">
			<div class="floatleft width100 padtop_15 underlinetxt">Comms Serial Port 3 Settings</div>
		</div>
		<div class="floatleft width100">
			<div class="floatleft width100">
				<div class="floatleft padright_10 width100">
					<table width="100%">
						<tr><td width="20%">Baud Rate</td>
							<td>:&nbsp;&nbsp;9600</td>							
						</tr>
						<tr><td width="20%">Data Bits</td>
							<td>:&nbsp;&nbsp;8</td>							
						</tr>
						<tr><td width="20%">Parity</td>
							<td>:&nbsp;&nbsp;None</td>						
						</tr>
						<tr><td width="20%">Stop Bits</td>
							<td>:&nbsp;&nbsp;1</td>							
						</tr>
						<tr><td width="20%">Flow Control</td>
							<td>:&nbsp;&nbsp;None</td>							
						</tr>
						<tr><td width="20%">Path Type</td>
							<td>:&nbsp;&nbsp;None</td>							
						</tr>				 																
					</table> 
				</div>				
			</div>
		</div>
		<div class="floatleft width100">
			<div class="floatleft width100 padtop_15 underlinetxt">Comms Serial Port 4 Settings</div>
		</div>
		<div class="floatleft width100">
			<div class="floatleft width100">
				<div class="floatleft padright_10 width100">
					<table width="100%">
						<tr><td width="20%">Baud Rate</td>
							<td>:&nbsp;&nbsp;9600</td>							
						</tr>
						<tr><td width="20%">Data Bits</td>
							<td>:&nbsp;&nbsp;8</td>							
						</tr>
						<tr><td width="20%">Parity</td>
							<td>:&nbsp;&nbsp;None</td>						
						</tr>
						<tr><td width="20%">Stop Bits</td>
							<td>:&nbsp;&nbsp;1</td>							
						</tr>
						<tr><td width="20%">Flow Control</td>
							<td>:&nbsp;&nbsp;None</td>							
						</tr>
						<tr><td width="20%">Path Type</td>
							<td>:&nbsp;&nbsp;None</td>							
						</tr>				 																
					</table> 
				</div>				
			</div>
		</div>
		<div class="floatleft width100">
			<div class="floatleft width100 padtop_15 underlinetxt">Laptop Ethernet Port Settings</div>
		</div>
		<div class="floatleft width100">
			<div class="floatleft width100">
				<div class="floatleft padright_10 width100">
					<table width="100%">
						<tr><td width="20%">DHCP</td>
							<td>:&nbsp;&nbsp;Server</td>							
						</tr>
						<tr><td width="20%">IP</td>
							<td>:&nbsp;&nbsp;192.168.1.100</td>							
						</tr>
						<tr><td width="20%">Network Mask</td>
							<td>:&nbsp;&nbsp;255.255.255.0</td>						
						</tr>
						<tr><td width="20%">Gateway</td>
							<td>:&nbsp;&nbsp;192.168.1.1</td>							
						</tr>								 																
					</table> 
				</div>				
			</div>
		</div>
		<div class="floatleft width100">
			<div class="floatleft width100 padtop_15">END OF REPORT</div>
		</div>
		</div>
	</body>
</html>
